[2015-07-02 14:49] clearjs opened #1 "Relax requirement to not update state for statuses other than "success" / "error""
I'd like to be able to handle the fact that some async action has started, and have state reflex that.

[2015-07-02 14:51] clearjs commented on #1
https://github.com/acdlite/flux-standard-action/issues/1

[2015-07-02 14:51] #1 closed

[2015-07-05 18:36] johanneslumpe opened #2 "Create a version of `handleActions` which supports async actions too"
We want to be able to support handlers in the form of:

[code]

[2015-07-06 05:35] ustccjw opened #3 "how to set meta property?"
As title, how to set meta property?

[2015-07-06 05:45] clearjs commented on #3
@ustccjw Could you please elaborate on the problem and context that you have? `meta` is just a field in a plain action object, its "properties" are fields as well.

[2015-07-06 05:49] ustccjw commented on #3
return (...args) => ({
        type,
        payload: finalActionCreator(...args)
    })

I mean, when use `createAction`, the return value is payload, i want to pass meta property, how can i do?

[2015-07-06 05:52] acdlite commented on #3
@clearjs I think @ustccjw wants to be able to specify meta using `createAction()`. I've been thinking about it, because it's particularly important for async actions, where you need the ability to pass certain metadata to the `throw()` handler, and to the `begin()` handler once we implement https://github.com/acdlite/redux-actions/issues/2

@johanneslumpe and I discussed this on Slack, and the ide

[2015-07-06 05:54] acdlite commented on #3
That way, for example, if the action fails (say you're using redux-promise and the promise rejected) the reducer still has access to the meta object, which it can use to undo an optimistic update:

[code]

[2015-07-06 05:57] clearjs commented on #3
@ustccjw @acdlite Thanks. Sorry, I was still thinking in the context of FSA and thus didn't get it at first.

[2015-07-06 12:10] ustccjw opened #4 "handleAction/handleActions: should set a default `throw` function"
For async action, rejected promise then wrap to FSA: `{error: true, payload: [Error Object]}`, always we should `{return state}`.

FSA says `if the status is error, the payload SHOULD be an error object`, i can't understand why handleAction/handleActions: `If a single reducer is passed, it is used to handle both normal actions and failed actions`.

[2015-07-06 15:03] acdlite commented on #4
Yeah you're right, we should probably treat a single reducer the same as a `next()` handler.

[2015-07-06 15:06] #4 closed

[2015-07-08 23:05] acdlite opened #9 "Should warn if undefined passed as type"
Would have saved me the last 20 mins :)

[2015-07-09 07:11] james-s-turner opened #10 "Add GUID to actions"
What do you think about adding a GUID field to each action to allow unique identification. This could be useful for:
1. Linking errors to the original actions that created them
2. Helping problem analysis in production systems after the fact
3. Tooling for time-travel development tools

You could put it into the meta property, but I think this could prove useful as a first class concept.

[2015-07-09 09:08] jprichardson commented on #10
Why not just put this GUID in the payload? This seems like overengineering IMHO.

[2015-07-09 10:38] james-s-turner commented on #10
Yes I take your point, however I think its more an issue of standardisation rather than over-engineering. It would allow people to automatically make use of tooling written by a third party. Imagine a time-travel tool (like the one demoed by Dan at the Paris React conference) used by a support team. You could get a log of all the actions and then play back to an action with a specific ID. The tool

[2015-07-09 16:50] istarkov opened #11 "no-reserved-keys rule"
To prevent `no-reserved-keys` eslint rule error (which is on by default at a lot of companies)
Every time i need to write in handleAction(s) something like this

`// eslint-disable-line no-reserved-keys`

 or this

[code]

may be it will be more likely to give an alias for throw like `error` , `onError` etc...

[2015-07-09 17:46] acdlite commented on #11
I see your point, but I would prefer to keep calling it `throw` because it matches the ES6 generator interface.

[2015-07-09 17:47] acdlite commented on #11
Oh wait you're suggesting an alias. Yeah let's think about that.

[2015-07-09 18:49] johanneslumpe commented on #11
@acdlite how about `reject` ?

[2015-07-09 18:58] acdlite commented on #11
I was thinking `onThrow()`.

[2015-07-09 19:06] johanneslumpe commented on #11
I'm fine with both :) `reject()` is a tad shorter though :P

[2015-07-09 19:07] istarkov commented on #11
+1 `reject()`

[2015-07-09 19:09] acdlite commented on #11
Yeah it's shorter, but it's a totally different word :D It shouldn't seem like a different thing. And I would really prefer everyone use `throw()`, anyway.

[2015-07-09 19:26] johanneslumpe commented on #11
I was just using it because for promises throw and reject are almost synonyms

[2015-07-10 23:15] ekmartin commented on #11
Would be nice with an alias, even though I definitely see the point about keeping with the generator interface. Kind of painful to have to disable linting rules though.

[2015-07-21 21:12] acdlite commented on #10
I think GUIDs are a good idea but they should be handled by a separate middleware further down the chain.

[2015-07-21 21:12] #10 closed

[2015-07-21 21:13] acdlite commented on #3
Oops, forgot to close this, but v0.8 added support for a meta creator https://github.com/acdlite/redux-actions/releases/tag/v0.7.0

[2015-07-21 21:13] #3 closed

[2015-07-21 21:14] acdlite commented on #2
I have a branch https://github.com/acdlite/redux-actions/tree/sequence that solves this pretty well. I'll update the docs soon and get it merged in.

[2015-07-22 16:31] nd0ut opened #12 "Multiple handlers per action"
How about this?
[code]

[2015-07-23 18:45] chentsulin opened #14 "handle error in createAction"
I already checked out createAction file for more information, but it seems don't have any mechanisms to handle error with FSA error action in `createAction` function. It can't mutate any values outside of payload.

But I thought that it's a common case to handle error in a actionCreator, like below:
[code]
It doesn’t make sense to abort error handling support here.

Any ideas?

[2015-07-24 13:37] rafaelchiti opened #15 "Allow to pass down a matcher to match an action"
Would be useful to accept a matcher to match our action before reducing the state.

Something like

[code]

[code]

[2015-07-24 13:38] rafaelchiti commented on #15
If you are down for it let me know I can send a PR

[2015-08-15 06:10] ngokevin commented on #14
Made an attempt https://github.com/acdlite/redux-actions/pull/16

[2015-08-20 14:15] johanneslumpe opened #18 "Make defaultState non-optional"
Since we have to return a non-undefined state in redux, we should probably make the `defaultState` parameter for `handleActions` required. Thoughts?

[2015-08-24 18:35] billyjanitsch opened #20 "ES6 Symbols break handleActions"
`handleActions` doesn't correctly match actions with types that are `Symbol`s, e.g.

[code]

`TEST_ACTION` is broken, `OTHER_TEST_ACTION` is fine.

[2015-08-24 19:00] gaearon commented on #20
(Just FYI—while Redux supports symbols as action types, this is generally a bad idea. You won't be able to serialize your actions and replay them.)

[2015-08-24 19:14] billyjanitsch commented on #20
^ (Great point. I only point this out because Symbols are starting to be used elsewhere leading to bugs like [this one](https://github.com/fcomb/redux-logger/issues/19), and if Redux is going to support them then its utilities probably should as well.)

[2015-08-24 19:18] billyjanitsch commented on #20
Btw, looks like the problem is that Symbols aren't included in the array returned by `Object.keys` (by design -- see [this](http://blog.keithcirkel.co.uk/metaprogramming-in-es6-symbols/)). Should be a quick (if ugly) fix [here](https://github.com/acdlite/redux-actions/blob/master/src/handleActions.js#L5).

[2015-08-24 20:03] acdlite commented on #20
Good catch. I think `Object.getOwnPropertyNames()` would work?

[2015-08-24 20:06] gaearon commented on #20
@acdlite

https://github.com/andreypopp/autobind-decorator/blob/954d825fcb585fa5747bba06505436cf56b3c287/src/index.js#L27-L38

[2015-08-24 20:07] acdlite commented on #20
Yuck, okay, haha.

[2015-08-24 20:15] acdlite commented on #20
Fixed in 0.8.0. Thanks!

[2015-08-24 20:29] billyjanitsch commented on #20
Thanks for the quick fix! :)

[2015-08-29 20:52] Bartvds opened #23 "Wrapping reducer in handleAction throws undefined state"
If I wrap a reducer in `handleAction` I get this error:

If I debug I see redux tries to get a initial state by calling the wrapped reducer with undefined state and a specific system action type. Because the type does not match the wrapped one the inner reducer never runs and no state default is created.

If I use `handleActions` (m) with default state it works fine. Same function with default sta

[2015-09-01 10:40] rightaway opened #24 "How to set error to true?"
When creating an FSA-compliant action that represents an error (`error` property set to `true`), how can I do that? Sorry if it's an obvious answer.

[2015-09-03 08:27] vasyabigi opened #25 "How can I set initial state for reducers from async requests?"
Hi! I am new to React and redux. And would appericate some help or direction where to go next. Here few questions I have:
1. How can I set initial state for reducers from async requests?
2. I'd like to create an app with JWT auth. I store jwt token in the localStorage and would like to handle expiration. I'd like to handle 401, remove jwt token from localStorage and ask user to login. How can I do

[2015-09-03 14:27] capaj opened #26 "how to import it?"
`import createAction from 'redux-actions';`

or

`import { createAction } from 'redux-actions';`

??
Why is this missing in the readme?

[2015-09-03 19:16] ngokevin commented on #24
Waiting on https://github.com/acdlite/redux-actions/pull/16

[2015-09-04 07:25] johanneslumpe commented on #26
A quick look at the source code which you can find (here)[https://github.com/acdlite/redux-actions/blob/master/src/index.js] will tell you that you should do

`import { createAction }  from 'redux-actions'`

[2015-09-05 12:21] #25 closed

[2015-09-11 11:34] iest commented on #23
Got this error too. Using `handleActions` instead and passing a default state worked for me as well.

[2015-09-16 13:32] ghengeveld commented on #9
+40 mins

[2015-09-16 18:06] acdlite commented on #9
Redux 3.0 throws if `type` is undefined. https://github.com/rackt/redux/releases/tag/v3.0.0

[2015-09-16 18:06] #9 closed

[2015-09-17 00:13] acdlite opened #30 "Match updated Observer interface"
https://github.com/zenparsing/es-observable#observer

[code]

`handleAction()` / `handleActions()` should use the same naming scheme:

[code]

[2015-09-17 14:37] timdorr commented on #30
You could extend this to support optimistic updates:

[code]

[2015-09-23 14:52] lukewestby opened #31 "Proposal: mechanism for handling multiple actions with the same reducer."
Hi all!

I'd like to propose a new feature to allow handling multiple actions with the same reducer in the case that someone has very general, over-arching properties of their state.

For example, when using redux on its own I've found it useful to have a `loading` property which gets reduced like this:

[code]

I find this preferable to invoking an action to update `loading` within a composite/as

[2015-10-04 11:14] clentfort commented on #30
Sorry for the spam, still getting used to PRs on GitHub.

[2015-10-05 12:28] clentfort opened #38 "handleAction should throw when reducer is not a function."
At the moment `handleAction` falls back to just returning the current state instead of throwing an exception when the passed in reducer is not a function. This is very surprising, especially because the documentation does not mention it. IMHO it would make more sense to assume the passed in reducer (or the properties of the reducer map) are always functions and blow up if they are not.

[2015-10-14 03:37] yeatszhang commented on #15
It is also useful for me . @rafaelchiti

[2015-10-17 01:27] appsforartists opened #39 "createActions"
Just as there's a `handleActions`, perhaps there should be a `createActions` as sugar for creating multiple actions?

[code]

This seems a bit nicer (and less redundant) than

[code]

[2015-10-21 12:29] yoavniran commented on #23
yup, running into this as well. Seems like handleAction is broken with initial state being undefined...

[2015-10-22 21:06] drhayes commented on #23
Happening for me too. Same workaround.

I'm getting it because I'm passing the resultant reducer to `combineReducers` from redux. It aggressively "ensures reducer sanity" by passing undefined initially. Third arg, maybe?

[2015-10-31 17:27] lukewestby commented on #20
Closing since this issue is fixed. Please reopen if anything else comes up. Thanks!

[2015-10-31 17:27] #20 closed

[2015-10-31 17:29] lukewestby commented on #26
@johanneslumpe do you think this should be incorporated into the README, maybe right under the `npm install` instructions?

[2015-10-31 17:42] lukewestby commented on #12
@nd0ut how would these functions be called? In your example, would the value of `select()` then be passed to `setColor()` and then returned?

[2015-10-31 19:31] lukewestby commented on #18
I agree. It would be way more helpful for people to see a clear and explicit error up front than to try and figure out why Redux is complaining about their reducer all the way downstream.

[2015-11-07 11:34] ipselon opened #41 "Is there a way to get state in createAction?"
Is there a way to get state in createAction?
Is it wrong approach if I need to get data from state inside action creator?

[2015-11-07 18:00] lukewestby commented on #41
Hi @ipselon, thanks for your question.

This is not the recommended approach for simple actions created through a result of `createAction()`. If you need to compose an action's payload from other state one option is to do so in your component before you call your action creator. If your action is sufficiently complex that you need to encapsulate the logic in the action creator itself I would recom

[2015-11-07 18:17] ipselon commented on #41
Hi @lukewestby, thanks for answering.

I know about redux-thunk, but I prefer to use sequenced actions with redux-promise. Actually, I agree with you to not to obtain the whole state in action creator and to pass some data from component to action. There is only one isue with this, if component has to pass data from a part of state tree it has to include that particular part through the redux mapp

[2015-11-07 18:23] lukewestby commented on #41
Is it possible to use `redux-promise` in conjunction with `redux-thunk`? You could create a thunk action creator to wrap your promise action creator which composes the payload from state before dispatching a promise.

[2015-11-07 18:25] ipselon commented on #41
Will check, I thought about this already but didn't try. Thanks.

[2015-11-08 21:03] lukewestby commented on #41
@ipselon I'm going to close this for now, but just add another comment if that strategy doesn't work out and we can reopen or start a discussion somewhere else. Thanks!

[2015-11-08 21:03] #41 closed

[2015-11-09 21:18] tony-kerz commented on #23
i get this:
[code]
from this:
[code]
this is with redux-actions `0.8.0` (alongside of redux-promise `0.6.0-alpha` if it matters)

i'm assuming this is the same issue...

[2015-11-16 12:58] talarari commented on #23
Getting the same error

[2015-11-16 18:53] eventhough opened #42 "Not calling reducer with failed promise"
I'm using redux-actions with redux-promise. When my promise succeeds, it hits my `handleActions` reducer as expected, but when it fails, nothing happens. The action is fired off but my handler never sees the failed FSA.

From devtools I see that the FSA has `error` property set to `true` as expected, but my reducer below does not get called.

[code]

Then I tried something like this but it didn't

[2015-11-16 19:29] eventhough commented on #42
Okay I think I figured it out. Here is how I set up my reducer to handle both successful and failed promises:

[code]

Doing this feels a bit counterintuitive to me since I thought the idea behind "FSA" was to do away with things like `LOAD_SUCCESS` and `LOAD_FAILURE`. If we are treating payload errors as a first class concept, doesn't creating a `next` and `throw` handler defeat the purpose? I fe

[2015-11-18 18:44] AxisWhistle commented on #15
i tried this method like this,
[code]
but still get error like this
[code]

can you help me figure out why ?
@rafaelchiti

[2015-11-20 00:28] msafi commented on #39
Came here to ask for this.

In my case I did

[code]

[2015-11-20 01:28] appsforartists commented on #39
@msafi https://github.com/pauldijou/redux-act looks pretty sweet too.

[2015-11-23 02:19] lukewestby commented on #42
Your first example where you were not seeing the single reducer called in the error case is a bug that was fixed in #40 and should be included in the next release. Once it is published you'll be able to implement your reducer the way you wanted in your first example. Keep an eye out for it! In the mean time I'm going to close this, but feel free to continue commenting if you have any additional qu

[2015-11-23 02:19] #42 closed

[2015-11-23 02:33] eventhough commented on #42
Awesome! Thanks Luke.

[2015-11-23 02:47] lukewestby commented on #12
@nd0ut I'm going to close this for now, and offer a suggestion:

If you would like to compose several functions for use as a single reducer you can use `_.flow()` or `_.flowRight()` from lodash to accomplish this, depending on the order you'd like them to be called.

- https://lodash.com/docs#flow
- https://lodash.com/docs#flowRight

[code]

[2015-11-23 02:47] #12 closed

[2015-11-23 02:49] lukewestby commented on #14
@chentsulin #16 is merged, can you try running your code agains the master branch? Let us know what you find.

[2015-11-23 02:52] lukewestby commented on #24
@rightaway #16 was merged, so I'm going to close this for now. You can try out the new functionality by running your code against the master branch, and keep an eye out for the next release. We're tracking this in some other issues as well, so if you find you still can't get things working as expected, leave another comment here and we'll organize all the outstanding concerns in a single issue.

T

[2015-11-23 02:52] #24 closed

[2015-11-23 02:53] lukewestby commented on #11
@acdlite @johanneslumpe do we want to move forward with the alias?

[2015-11-23 13:24] johanneslumpe commented on #11
@lukewestby I personally don't mind having an alias. I'm not really using this lib anymore though. I have resorted to just using arrow functions and implicit returns.

[2015-12-03 11:20] sebastiancarlsson opened #44 "Payload undefined instead of unset"
Hi, I just started toying around with this lib so I'm probably missing something important. The [spec for FSA](https://github.com/acdlite/flux-standard-action#actions) states that an action MAY have a `payload` property, however when I do this:

[code]

Is there a reason for this?

[2015-12-03 11:36] sebastiancarlsson commented on #44
EDIT: My use case is that I don't want to have to add "payload:undefined" to all my tests, i.e. this will fail:
[code]

[2015-12-07 21:52] w-site opened #45 "npm package redux-actions contains old code."
npm package redux-actions contains old code, for ex. it hasn't "Handle FSA errors where the payload is an Error object. Set error." in createAction.js could you please update npm package. Thanks.

[2015-12-08 11:05] wginolas commented on #45
+1

The commit "Fix issue when rejecting a promise for a single reducer" would also be very helpful for me.

[2015-12-10 17:28] adros commented on #45
+1

[2015-12-11 13:26] michaeljones commented on #45
+1, just spent some time confused by why I wasn't getting `action.error = true`. Love a release if it is stable code.

[2015-12-11 14:09] uhercik commented on #45
+1

[2015-12-11 14:40] lukewestby commented on #45
Ping @acdlite would it be possible to do an npm publish soon?

[2015-12-11 18:22] acdlite commented on #45
v0.9.0 published :)

[2015-12-11 18:22] #45 closed

[2015-12-14 00:15] dapetcu21 opened #47 "handleActions naming is confusing"
Since `handleActions` returns a reducer, a proper name for it would be `createReducer`. I've tried to teach redux to a friend and it wasn't immediately apparent that `handleActions` returns a reducer. What do you think? I'm not adamant on `createReducer`. I just think that `handleActions` might not be the proper name for it.

[2015-12-14 01:56] davezuko commented on #31
:+1: I like this a lot, and it's something that has kept me from fully adopting a `createReducer`/`handleActions` abstraction in my applications.

I know this issue is fairly dead, but there is interest :)

[2015-12-14 06:46] acdlite commented on #47
Hmm, I see what you mean but `createReducer()` may be generic for my taste. Perhaps `reducerForActions()`. I think `handleActions()` is fine but I'm open to other suggestions :)

[2015-12-14 09:46] dapetcu21 commented on #47
Yeah, `reducerForAction` and `reducerForActions` sounds more reasonable.

[2015-12-16 01:21] john-mortlock commented on #44
I am having the same issue, so I created a pull request to fix this.

[2015-12-19 05:31] bradwheel commented on #31
:+1: Here's some additional interest

[2015-12-21 02:18] tdzl2003 opened #49 ".babelrc cause error on babel6"
There is a .babelrc published on npm, which is configured for babel5. It will cause error on babel 6, like react-native >=0.16.0

Is it ok to add it into '.npmignore' and does not publish it on npm?

[2015-12-22 00:26] zwhitchcox opened #50 "Do I need to understand flux to use these?"
I started reading the docs for flux standard actions, and they make a lot of references to flux. I'm just wondering if it will hinder my understanding of redux-actions if I don't go learn Flux, which I would rather not do.

[2015-12-22 00:28] #50 closed

[2015-12-22 13:41] alvaromb commented on #49
Same here!

[2015-12-28 18:27] shark0der commented on #47
I'd add on this.
Let's take this code straight from the documentation:

`let increment = createAction('INCREMENT');`

Any person that would see this for the first time would assume that `increment` is now an action. Well... bad news, `increment` is now an action therefore an actually descriptive name for `createAction` in this case would be `createActionCreator`, which reminds me of this: http://b

[2016-01-02 16:51] despairblue commented on #49
Here is a [workaround](https://github.com/michaelcontento/redux-storage/issues/65#issuecomment-167160035).

[2016-01-02 20:16] startupthekid commented on #23
I'm also running into this error. Will it ever be addressed? It was first reported back in August and now it's 2016.

[2016-01-03 03:47] doliver3 commented on #47
Recommendations:
A better name for createAction is **actionCreator** since it generates an actionCreator
A better name for handleActions is **actionReducers** since it generates reducers.

This lines up with existing naming conventions:
http://redux.js.org/docs/basics/Actions.html - Action Creators
http://redux.js.org/docs/basics/Reducers.html - Reducers handle Actions

The react-redux-starter-kit

[2016-01-04 01:38] tdzl2003 commented on #49
This workaround is only for *nix system and it will broke some module that exported with ES6.
I have my own workaround on my project, but it will be better to not publish it to npm

[2016-01-04 13:00] despairblue commented on #49
Though sharing it in any other way might still help other people who end up here while searching for a solution.

[2016-01-05 19:21] pixeldrew opened #54 "How to use combineReducers to add multiple reducers that use the same action type?"
I'm using combineReducers and i'm wondering how I can use handleActions to have two different store keys be updated by the one action type. My requirement is that the one action type be used to update different keys inside the store, for example I have a transactions array which must add a new transaction then I must update the balance of the account the transaction relates to.

This doesn't seem

[2016-01-06 00:11] acdlite commented on #54
The overall approach looks fine — any reducer in `combinedReducers()` is able to respond to any action type.

I did notice some bugs with your code, though. In your second reducer, `accounts` is the name of the reducer, not the current accounts state. So

[code]

and

[code]

Maybe that fixes the problem you're having? If not, please give some more details and I'll see if I can help.

[2016-01-06 00:13] pixeldrew commented on #54
ah yeah, that's just for the example I simplified. Perhaps I have other errors in my code I need to take a look at.

[2016-01-06 00:16] pixeldrew commented on #54
Doh... yep I had a constant exported and it wasn't picking it up in the other model

[2016-01-06 00:16] #54 closed

[2016-01-06 00:16] pixeldrew commented on #54
Side note, would love to get a CDN/UMD version of this library to throw up jsfiddles or jsbin's

[2016-01-10 18:29] 0x80 opened #56 "Why the extra ...state in the action map?"
I am wondering why we are required to merge in the current state in every reducer function.

[code]

If handleActions was something like...

[code]

... you could write

[code]

It makes it less verbose and harder to mess up imho

[2016-01-10 21:06] acdlite commented on #56
Thanks for the suggestion! However, what if is `state` is not a plain object — what if it's an array, or an Immutable Map? Or just a number?

What if, depending on the content of the payload, we want to return the previous state (and maintain the same object reference?

Merging state every time, while similar to what React does with `setState()`, is against the spirit of Redux and makes too many r

[2016-01-10 21:06] #56 closed

[2016-01-10 22:42] 0x80 commented on #56
Makes sense :) Thanks for clarifying this decision :+1:

[2016-01-14 15:07] popc0rn commented on #23
Same problem here when I define reducers with `handleAction` and then try to combine them with `combineReducers` from redux. They go through internal `combineReducers` sanity check that calls them without passing an state or action an that crashes the function

[2016-01-19 09:52] anderson916 commented on #49
+1

[2016-01-19 15:27] adrienbrault commented on #49
:(

[2016-01-19 17:33] marcelklehr commented on #49
Same here, please add .babelrc to .npmignore or else fix it.

[2016-01-19 19:56] acdlite commented on #49
Oops! Fixed in 0.9.1

[2016-01-19 19:56] #49 closed

[2016-01-19 22:04] marcelklehr commented on #49
thank you! :)

[2016-01-21 11:01] alvaromb commented on #49
The fix doesn't work for me, I think it's due to this other issue https://github.com/acdlite/flux-standard-action/issues/24

[2016-01-27 02:12] tantou commented on #49
The fix doesn't work for me too, cause by the flux-standard-action

[2016-01-28 04:03] someok opened #60 "flux-standard-action dependency not necessary"
handleAction use **flux-standard-action** method **isError**

the method is simple, but it will import some lodash method when compile by webpack.

[code]

I suggest remove the flux dep for descrease the compilse file size.

[2016-01-31 12:01] Industrial opened #61 "[Question] How do I dispatch multiple actions in one action?"
Hi.

Say I have one action `initialize`, for this as for many actions I am dispatching an `action:start`, `action:success` and `action:failure`. Most of these have counterparts in the reducers where they update properties like `isFetching`, `isSaving`, etc.

If I use `redux-actions` instead of `redux-thunk` then how do I let my reducers know the correct state at the correct time? If I can only dis

[2016-01-31 12:54] addnab commented on #61
`redux-thunk` is a middleware unlike `redux-actions` which is a utility library for creating and handling actions. So you can still continue to use `redux-thunk` to dispatch multiple actions and use `redux-actions` API to `handleActions` like:

`reducers.js`
[code]

`action.js`
[code]

[2016-02-02 08:47] Industrial commented on #61
Okay,

so then in my components where do I pass dispatch? or is the `redux-thunk` library still doing that?

[code]

[2016-02-02 15:32] rpedroni commented on #47
I can totally back this up. Even though I understand quite well redux terminology, I've been confused a couple of times by the used names.
If at least `createAction` could be renamed to `buildActionCreator` or even `createActionCreator`, It'd stick to the correct redux terms and be way easier to pick up.

But not to just be a bitch about it, thank you for this lib :)

[2016-02-03 08:49] addnab commented on #61
@Industrial Yes, you don't have to pass `dispatch` while dispatching the action. If the action returns a function of the form `foo(dispatch, getState)`, then `redux-thunk` middleware should take care of calling that function by passing `dispatch` and `getState` as arguments to that function.

[2016-02-05 08:03] saiichihashimoto commented on #23
Same

[2016-02-05 19:46] danny-andrews commented on #23
+1

[2016-02-15 21:25] danny-andrews opened #65 "Set payload equal to error if payload is `instanceof Error`"
I already made a note of this in #43, but I wanted to promote it to its own issue.

I personally think that if you pass an error in as the payload, it should bypass your custom payloadCreator logic and just set the payload equal to the passed-in error. Otherwise, you have to add an error check in each of your action creators to achieve the same effect.
Example:
[code]
So, if I do something like, `

[2016-02-16 22:22] andrewsuzuki commented on #65
I agree. Just made a PR, see #66

[2016-02-16 23:48] ericlau-solid opened #67 "createAction - need a means to set action.meta if payload is an error"
I would like to dispatch an error object as a payload, but also have meta data information. I can hack around it, but I think it makes sense for createAction to provide a means to set meta separately from payload. This is important for error handling. Thanks for your time.
-- currently I can't perform the code above, even though I think it should be able to do so) -- a hack exists where I do this:

[2016-02-18 06:04] killermonk opened #68 "identity function in createAction only handles the first parameter"
The `createAction` function returns an action creator with the signature `function(...args)`. However, if you do not pass an `actionCreator` method to the `createAction` function, then the "`identity`" function is used.

The `identity` function is this: `(t) => t`, which does not do an argument spread and, since it is called with function.apply, it only handles the first argument passed in to the

[2016-02-18 07:24] ntucker commented on #47
I agree with naming of @rpedroni . Another possibility is 'make'. aka, makeActionCreator, makeActionReducer

[2016-02-19 11:05] emiloberg commented on #23
For others finding their way in here:

Note that `handleActions` (plural) works but want the default state as the second **argument** to `handleActions`. As [can be seen in the readme](https://github.com/acdlite/redux-actions#handleactionsreducermap-defaultstate) or in [this example](https://github.com/acdlite/redux-actions/issues/54#issue-125032461)

[2016-02-19 21:06] nico-schneider commented on #60
I think the purpose here is to have the actual logic that decides whether an action is an error in the `flux-standard-action` repository. So if anything ever changes in the flux action standard, say, `error: true` moves inside the `meta` key, these checks remain unaffected.

"Go ahead and save yourselves some technical debt" I believe is in one of @gaearon's readmes.

[2016-02-22 07:20] acornejo commented on #47
just started using this library (great btw!), and I was also tripped up by the naming. of course, its easy to figure out after using it a bit, but I agree that renaming these would reduce friction for new users.

[2016-02-23 03:23] ntucker opened #70 "handleActions doesn't work"
I tried using
[code]

and the INCREMENT part was never called

however

[code]

worked just fine

[2016-02-29 08:34] nighca commented on #70
@ntucker

[code]

works just the same as

[code]

Maybe misunderstanding here causes your problem?

If you want 'logos/counter/INCREMENT'/'logos/counter/RESET' as your key (action.type), you should write like this:

[code]

[2016-02-29 09:41] ntucker commented on #70
Thx for that. Forgot about JS's weirdness for object declarations.

[2016-02-29 09:41] #70 closed

[2016-03-01 04:31] mwalsher commented on #31
:+1:

[2016-03-04 22:11] lsunsi commented on #23
Same problem. So handleAction is practically unusable, right?

[2016-03-08 06:05] anyong commented on #47
+1 `makeActionCreator` and `makeActionReducer`

[2016-03-17 10:11] luujam1 opened #72 "Reducer composition pattern + redux-actions"
Say I've got a basket which you can add items to or remove items from. If I add an item which already exists in the basket, I update the quantity property instead of adding a new entry in the basket. I use the reducer composition pattern to delegate the responsibility of updating the quantity to a separate function which handles properties within the item. Here's the code:

[code]

So my questions

[2016-03-22 06:25] meowtec opened #73 "Can't use enum (TypeScript) as type identifier"
I want to use enum for defining action types，such as
[code]

After compile, `ActionTypes.ADD` will transform to number `0`.
But the key of handlers will become string '0'.
Because `'0' !== 0`, the demo above will not work.

[2016-03-24 05:20] nightire opened #74 "😕 : both payloadCreator and metaCreator try to resolve the same promise?"
I'm trying to write `payloadCreator` and `metaCreator` for an action, when this action been called, a promise is passed in, now both of two creators try to resolve the promise, but promise as we know, only can be resolved one time, so I'm confused: how metaCreator works exactly?

[2016-03-24 16:54] albertogasparin commented on #60
I'm also supporting the removal of the `flux-standard-action`. It adds several KB of dependencies for no reason. Actually, in `createAction.js` you are already setting the error prop regardless of the FSA behaviour:

[code]

The result is that the lib will be "broken" whenever FSA `isError` method will change. I think a better approach would be adding some FSA checks in the unit tests, so the buil

[2016-03-24 17:47] acdlite commented on #74
Promises resolve once, but they can have multiple handlers.

[code]

[2016-03-24 17:47] acdlite commented on #60
Sounds good to me if you want to submit a PR

[2016-03-24 17:47] #60 closed

[2016-03-25 04:07] nightire commented on #74
@acdlite I'm hoping so, but now I'm facing a problem that can't be sure what's going wrong.

Below is my payloadCreator and metaCreator:

[code]

If only `payloadCreator` or `metaCreator` is passed to actionCreator, it will works as I expected. If both of them are passed in actionCreator, only `payloadCreator` will return the right results, `metaCreator` itself is still a promise which `isRejected

[2016-03-29 14:59] albertogasparin commented on #60
PR done #76
Feel free to review and merge (but you should merge #62 first in order to fix master)

[2016-04-01 13:18] sarovin opened #77 "Error while persisting cache: TransformError"
Hi,
i have this issue:

[code]

 Any suggestions?

[2016-04-05 15:56] obrin commented on #31
:+1:

[2016-04-17 13:36] timche opened #80 "Repo still active?"
Is this repo still being maintained? @acdlite

I would like to see some changes like #48. Currently waiting for it for a while :(

[2016-04-18 07:15] Zhouzi commented on #80
Maybe some of us could help you @acdlite if you're having trouble to find the time to maintain redux-actions. Let us know :)

[2016-04-22 20:09] timche commented on #80
I was added as contributor. Hopefully I can help out a bit :)

[2016-04-22 20:09] #80 closed

[2016-04-22 20:34] timche commented on #77
Looks like you are using an older version. Upgrading to `0.9.1` should resolve this bug due to ignoring `.babelrc` in `.npmignore`.

[2016-04-22 20:34] #77 closed

[2016-04-22 20:41] timche commented on #61
Seems like the question has been answered.

[2016-04-22 20:41] #61 closed

[2016-04-22 20:43] timche commented on #26
Closing this, because the README has been adjusted since this issue.

[2016-04-22 20:43] #26 closed

[2016-04-22 20:57] timche commented on #14
As this feature has been merged with #16, I will close this issue.

[2016-04-22 20:57] #14 closed

[2016-04-26 20:50] kilianc opened #82 "payloadCreator is executed even when an Error is passed"
[code]

while I'd expect

[code]

Am I missing something ?

[2016-04-28 04:59] leonyu opened #84 "Builder/Factory pattern for better type propagation in TypeScript/Flow"
Current `handleActions(reducerMap, ?defaultState)` signature doesn't allow the propagation of types into reducers, as it is a dictionary type.

A builder or factory pattern like the following would allow for better type propagation
[code]
The reason being the actions could be typed as `Action<void>` and `Action<number>` respectively, and `.addReducer` can be typed as
[code]

[2016-04-28 16:20] alexgorbatchev commented on #84
Could this be made as a separate package?

[2016-04-28 16:24] alexgorbatchev commented on #73
what about

[code]

[2016-04-28 17:02] leonyu commented on #84
This would make the package 10x more useful to typed users. It is like 5 lines of code.

Of course my example is using OOP syntax. If you prefer I can offer functional syntax that does the same job.

[2016-04-28 17:29] alexgorbatchev commented on #84
I know how you feel, I encountered that issue while working on #85 . My question is, does this have to be part of `redux-actions` or could we think of a way to make it part of a separate package, eg `redux-actions-builder`?

[2016-04-28 18:39] leonyu commented on #84
I was looking at this package, and it looks promising for my use, but it didn't satisfy my need of propagating types without needing runtime

I already have an implementation of it in my own code:

[code]

It is trivial to convert the above to less OOP syntax, which would be a lot less verbose.
[code]

[2016-04-29 02:18] meowtec commented on #73
@alexgorbatchev
👍 Good idea

[2016-04-29 02:18] #73 closed

[2016-05-06 13:44] LabiKyo opened #86 "Should print warning message if type is undefined"
Consider this code, it's commonly used in my project:
[code]

If there's a typo in actionTypes variable(`ACE_1` for instance), there's no warning, linters can't tell the error too. But it's easy to print warning message using redux-actions.

I'd like to send a PR if it's okay to you.

[2016-05-07 10:43] #38 closed

[2016-05-15 07:01] timche commented on #23
I don't know since when Redux is doing this sanity check, but without an initial state, `handleAction` is definitely unusable.

Nevertheless, #55 adds support for that.

[2016-05-15 07:27] timche commented on #11
Since this discussion hasn't come an result, I'll close it for now. Re-open if it will become necessary.

[2016-05-15 07:27] #11 closed

[2016-05-15 07:30] timche commented on #15
Since there are no more opinions on that, I'll close it for now. Re-open if necessary.

[2016-05-15 07:30] #15 closed

[2016-05-15 07:31] timche commented on #18
+1

I'll probably open a PR for this.

[2016-05-15 07:39] timche commented on #30
Could be fixed with #22.

[2016-05-15 07:44] timche commented on #39
Since there are no more opinions on that, I'll close it for now. Re-open if necessary.

[2016-05-15 07:44] #39 closed

[2016-05-15 07:47] timche commented on #44
Could be fixed with #48.

[2016-05-15 07:51] timche commented on #67
Could be fixed with #66. Let's move this discussion there.

[2016-05-15 07:51] #67 closed

[2016-05-15 07:56] timche commented on #72
I'd suggest to use `redux-thunk` for this. You can use `getState()` in the action creator and `dispatch()` then `ADD_TO_BASKET` or `INCREASE_QUANTITY` according the result of if the item is already in the basket or not.

[2016-05-15 07:56] #72 closed

[2016-05-15 08:03] timche commented on #74
Since it's not an issue `redux-actions` itself, I'll close it for now. Can be reopened if necessary.

[2016-05-15 08:03] #74 closed

[2016-05-15 08:08] timche commented on #82
Nope, you're not missing something. Have a look what's happening in [`createAction`](https://github.com/acdlite/redux-actions/blob/master/src/createAction.js#L16-L19).

`payload` won't be changed, but I'd also expect that behaviour that `payload` doesn't use the function.

I think, we need to fix this.

[2016-05-15 08:15] timche commented on #86
If `console` messages would become part of `redux-actions`, then we also need an environment variable to not include them in production builds as they aren't necessary then. But I think this feature isn't needed, because this is personal preference how people are important the action types. I'll close this issue, but it can be reopened if necessary.

[2016-05-15 08:29] LabiKyo commented on #86
Taking React as an example. React print warning messages

[2016-05-15 08:34] LabiKyo commented on #86
Agree about environment variable. It's very common in libraries.

I do think it's a necessary feature. Taking React as an example. React print warning messages in dev env for propTypes checking and many other common cases. Because we are sure this is an error -- I don't know when we should handle an undefined actionType.

[2016-05-15 08:36] timche commented on #86
So, are we using

[2016-05-15 08:37] timche commented on #86
So, how about using `__DEV__` as env variable then? It's also what React and React Native are using.

[2016-05-15 09:13] LabiKyo commented on #86
Haven't think about `createAction` and `handleAction`, and you're right about it.

For React, check [this](http://facebook.github.io/react/downloads.html#npm). I know when building react, I need to set `process.env.NODE_ENV` to `'production'`. Maybe React using `__DEV__` internally, need to check the code.

I'll finish PR in next week.

[2016-05-15 21:09] evenfrost commented on #23
Looking forward to this as well, going through the Redux tutorial and `handleAction` bundled with `combineReducers` throws the error.

[2016-05-20 10:20] afc163 opened #87 "supply a UMD dist files"
like: https://npmcdn.com/redux-thunk@2.1.0/dist/

[2016-05-22 07:26] timche commented on #87
Thanks for the suggestion, I'll have a look at it.

[2016-05-26 17:51] ericlau-solid opened #88 "action.meta by default should return timestamp (when action creator was executed)"
In the project I am working on, I find that timestamp is needed so often that it makes sense to add timestamp (when the createAction function was executed) as default for action.meta. If you think it's a good idea too I can make this happen via pull request.

ie.

[code]

[2016-05-27 22:42] yangmillstheory commented on #68
What should the behavior be for the default function when N arguments are passed?

The returned `actionHandler` is responsible for building an FSA ([relevant code here](https://github.com/acdlite/redux-actions/blob/master/src/createAction.js#L9)) - it seems like the only reasonable thing to do when N arguments are passed is to return the first argument?

If you're calling an action creator with N

[2016-05-27 22:50] yangmillstheory commented on #44
Looks like #48 fixes this (with tests), can we close?

[2016-06-03 17:19] ericlau-solid commented on #88
I would like to rescind this. A better way is to use middleware, which I will use. Please disregard.

[2016-06-03 17:19] #88 closed

[2016-06-04 00:34] kilianc commented on #82
I hope @casparrolfe PR lands soon, this is so annoying

[2016-06-04 05:05] jcheroske opened #89 "Possible feature: have handleAction() transfer payload to state when reducer is undefined"
This could be a really bad idea, but I thought I'd run it by you. I often find that I'm just wanting to write a quick reducer that just moves the action's payload to the state. Being able to just type:
[code]
instead of
[code]
would be really nice. Just a thought.

[2016-06-07 00:56] Restuta commented on #86
Makes sense to me, NODE_ENV seems to be a standard thing to do, it doesn't matter what react uses internally, what matters is what is recommended to set outside and it's NODE_ENV.

[2016-06-07 20:02] Restuta opened #90 "Identity function, hidden gotchas and 300-400ms to dispatch your actions"
Just want to discuss this, since was confused by default actionCreator factory behaviour. As per docs if I define my action crator like that:

`export const toggleBaseline = makeActionCreator('Dbg.TOGGLE_BASELINE')`

identity function will be used for payload. I assumed that it's fine to create Action Creators that don't have a payload in this manner and it was wrong assumption. Read below why.

A

[2016-06-08 20:40] timche commented on #90
`onChange` passes an `event` as parameter to the action creator, that's correct.

What you can do instead is writing something like this instead:

[code]

or

[code]

[2016-06-08 20:47] Restuta commented on #90
@timche Yes, but that is not the point, point is that you can easily run into confusing issues (at least I was able to) with this approach. In general this sounds like a trick default behaviour. Did you see a problem at that time when I asked about it in my post?

Also use of arrow functions in there is discouraged https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind

[2016-06-08 20:54] timche commented on #90
I know that, it was only an example to keep it short ;)

I don't really get your point then, sorry :/ The identity function takes an parameter as payload as it is stated in the docs. What's confusing about this?

[2016-06-08 21:16] Restuta commented on #90
@timche I am sorry for not being clear. I tried my best in explanation above and that if you follow normal path with that behaviour it's easy to get into a trap.

"Normal path" is the following:

Define action creators => pass action creators to `connect` => call them directly from JSX event handlers => trap

This path looks normal to me, it's recommended path in Redux docs and it leads to a probl

[2016-06-12 19:33] ArEnSc opened #92 "overriding the payload creator and new error is not automatically caught."
[code]

[2016-06-12 19:38] ArEnSc commented on #92
solution on custom creation action this will trigger so that action will contain an error:true
but requires that we must write odd code that will detect and error as first or last parameter ?

[code]

[2016-06-12 22:34] maxschmeling opened #93 "Should we use toString() instead of creating constants?"
With [this line](https://github.com/acdlite/redux-actions/commit/d1aa7d6026e73433808337e10ec03f8df3bd78a6#diff-52ace21827ea0130a413a22cd1697dc8R31) (see below for code) being added to `createAction`, should we use `toString` on the action creator to reference actions instead of creating constants?

[code]

Basically, is there any reason I should be creating and exporting constants for action types

[2016-06-13 08:44] weslleyaraujo commented on #31
thats very very useful 👍

@lukewestby is there any wip on this?
if not so, can I start working on it?

[2016-06-14 22:58] schtauffen opened #94 "[suggestion] createActions: Default action to empty object"
Currently to get a default state from a createActions-returned reducer you must use:

[code]

If the reducer returned by createActions defaulted the action to {}, we can now do:

[code]

[2016-06-19 23:10] eranimo commented on #72
Does redux-actions support using redux-thunk?

[2016-06-20 03:25] yangmillstheory commented on #72
@eranimo How do you mean?

The two libraries are pretty orthogonal and work well together. Here's an example with `redux-actions@0.10.0`:

Action thunks:

[code]

Reducer:
[code]

[2016-06-20 03:27] yangmillstheory commented on #23
@timche isn't this closed with 0.10.0?

[2016-06-20 03:33] yangmillstheory commented on #44
@timche Isn't this closed in 0.10.0?

[2016-06-20 03:35] yangmillstheory commented on #68
TL; DR I'm not sure there's an issue here.

[2016-06-21 07:03] timche commented on #44
You are right @yangmillstheory, thanks for the hint :)

[2016-06-21 07:03] #44 closed

[2016-06-21 07:03] timche commented on #23
Thanks @yangmillstheory 👍

[2016-06-21 07:03] #23 closed

[2016-06-21 07:11] timche commented on #94
Because Redux is passing `undefined` when initializing the reducer.

[> We’ll start by specifying the initial state. Redux will call our reducer with an undefined state for the first time.](http://redux.js.org/docs/basics/Reducers.html)

[2016-06-22 03:11] schtauffen commented on #94
@timche you are correct, Redux takes care of this detail automagically.

[2016-06-22 03:11] #94 closed

[2016-06-23 14:37] timche commented on #93
It's just personal preference. Some prefer constants, others `myActionCreator.toString()`.

[2016-06-23 14:37] #93 closed

[2016-06-23 14:38] timche commented on #92
That issue has been resolved with https://github.com/acdlite/redux-actions/commit/b9d5eb7daec5e29cb02c34dfb855c51183051f71.

[2016-06-23 14:38] #92 closed

[2016-06-23 14:51] timche commented on #90
Tbh, I don't see an issue with this, because event handlers are working like expected for me personally (or see [here](https://facebook.github.io/react/docs/forms.html#controlled-components)). If anyone should see a problem here as well, then I'm willing to reopen this issue again, otherwise I'll close it for now, if it's okay for you.

[2016-06-23 14:51] #90 closed

[2016-06-23 14:52] timche commented on #89
I'll leave this issue open for few opinions on that idea.

[2016-06-24 21:55] killermonk commented on #68
Sorry for my delay. I guess what I really want is something like this for identity:
`function(...arguments) { return arguments; }`

It just seemed off to me when reading through to code to see something allowing for n arguments, then ignoring them by default instead of just returning back those arguments.

[2016-06-24 21:58] yangmillstheory commented on #68
Hm interesting.

But in the case of one argument `'arg'`, would expect `action.payload` to be `['arg']`?

[2016-06-24 22:04] killermonk commented on #68
Easy fix: `function(...args) { return args.length === 1 ? args[0] : args; }`

If I pass one argument, I'd just expect that argument. If I pass multiple arguments I'd expect an array.

In my use, though, if I'm passing arguments to the action, I also use a custom action creator with it. They are generally in the form of `(arg1, arg2) => ({arg1, arg2})`, so that I get a single object with the key be

[2016-06-24 23:34] crw opened #95 "Incorrect syntax in the documentation?"
I may just not understand something but this syntax seems to be incorrect:

[code]
The second argument is not a legal object in any way I can figure out. I am having a very difficult time understanding how handleAction works to begin with, and this makes it more confusing. Is this a pseudo-code shorthand I just do not recognize? Actual syntax? Future syntax?

I will just add to this, it is fairly

[2016-06-25 12:07] timche commented on #95
The syntax is correct, it is part of ES6, [Enhanced Object Literals](https://github.com/lukehoban/es6features#enhanced-object-literals).

[2016-06-25 12:07] #95 closed

[2016-06-25 22:43] crw commented on #95
But you need a comma after the first method declaration, yes?

Should I file another bug about providing more documentation context for the purpose behind handleAction?

[2016-06-25 23:11] yangmillstheory commented on #95
Yes.

[2016-06-27 03:44] calvinnwq commented on #68
I personally do `(arg1, arg2) => ({ arg1, arg2 })` if i have arguments to pass.
Even if it were a single argument, I'd still do `(arg1) => ({ arg1 })` just to keep it consistent and make it more readable in the reducers, especially in larger apps.

e.g.
[code]

Since I pass my own payloadCreator all the time, I don't encounter the problem as discussed here.

Also, since JavaScript does not have su

[2016-06-27 23:18] yangmillstheory commented on #31
👍

[2016-06-29 01:04] Lucretiel opened #98 "Add optional behavior to pass payload to reducer"
I'm not sure how exactly this should be implemented (optional flag?) but it'd be nice if handleAction(s) supported reducers that just take the payload, rather than the whole action object. Reducers very rarely (and, based on my interpretation of the FSA spec, should never) use any part of an action besides they payload (and the type, but only to select which branch of code to use). Basically, I'd

[2016-06-30 17:14] yangmillstheory commented on #68
@calvinnwq I like the pattern of named multiple arguments using a POJO. Definitely readable and more intentional even in the case of one argument.

[2016-06-30 20:49] Lucretiel commented on #89
+1

This would probably pair well as a further specialization of my own idea to allow reducers with the signature `(state, payload) => state` instead of `(state, action)` => state`

[2016-07-01 01:59] yangmillstheory opened #99 "test-watch fails without running tests if lint fails"
[code]

Is this the right behavior? I feel like linting in `test-watch` should lint once and not fail, or lint continuously.

[2016-07-01 02:01] yangmillstheory opened #100 "ESLint doesn't understand object spread syntax"
We can write code that uses this feature with passing tests, but ESLint complains.

To fix this, we need to use https://github.com/babel/babel-eslint.

[2016-07-02 17:48] yangmillstheory commented on #98
I've seen cases where we don't need the entire action, but I think the case of using reducer composition is one where you'd need the entire action object for handoff to a child reducer.

[code]

[2016-07-02 18:12] Lucretiel commented on #98
Oh, I've never seen that destructuring syntax before. That pretty much completely takes care of this, thanks!

[2016-07-02 18:32] yangmillstheory commented on #98
It's nice. I believe you can destructure arrays from objects too.

[code]

[2016-07-02 23:43] yangmillstheory opened #101 "Parameter naming in createAction doesn't make sense"
Generally related to #47.

https://github.com/acdlite/redux-actions/blob/master/src/createAction.js#L5 calls the payload creator `actionCreator`, which is a very different thing.

Actually the [signature of `createAction` in the README](https://github.com/acdlite/redux-actions/blob/master/README.md#createactiontype-payloadcreator--identity-metacreator) spells out pretty clearly what this parameter

[2016-07-03 02:10] yangmillstheory opened #102 "Document and test ability to specify next/throw form in handleActions"
`handleActions` is currently limited to specifying reducers that handle FSA errors and non-errors simultaneously; it would be nice to be able to define them separately (per action) out as `handleAction` is able to.

cc @jeffbski, I think this is what I was getting at in https://github.com/acdlite/redux-actions/pull/83#issuecomment-230108954

[2016-07-03 02:12] yangmillstheory commented on #102
Actually, I think this is a non-issue (it's just that there's no documentation or tests for it): https://github.com/acdlite/redux-actions/blob/master/src/handleActions.js#L6. Changing the title for it.

[2016-07-03 05:47] #102 closed

[2016-07-03 06:54] yangmillstheory commented on #82
It looks like this was closed by https://github.com/acdlite/redux-actions/commit/b9d5eb7daec5e29cb02c34dfb855c51183051f71?

[2016-07-03 06:56] yangmillstheory commented on #65
Wasn't this closed by https://github.com/acdlite/redux-actions/commit/b9d5eb7daec5e29cb02c34dfb855c51183051f71, and a duplicate of https://github.com/acdlite/redux-actions/issues/82?

[2016-07-03 07:00] yangmillstheory opened #103 "Tests method names wrongly call payload creators "action creators""
This adds to already confusing terminology (#47, #101).

The following lines should be changed to stop calling payload creators "action creators":

- https://github.com/acdlite/redux-actions/blob/master/src/__tests__/createAction-test.js#L120
- https://github.com/acdlite/redux-actions/blob/master/src/__tests__/createAction-test.js#L25

[2016-07-04 03:44] yangmillstheory commented on #31
I was thinking that a conventional delimiter like `|` could work, but there's no obvious way for library users to join action creators (which can be used as inputs to `handleActions` or `handleAction`) since the way an action creator stores its type (via `toString`) seems encapsulated from the library user.

So, I think the `combineActions` approach seems the most reasonable.

[2016-07-04 08:41] timche commented on #98
Wow, you guys did a lot of stuff! It will take some time to review it all :O

[2016-07-04 17:06] #98 closed

[2016-07-09 09:03] timche commented on #99
Afaik eslint doesn't have any watching capabilities.

[2016-07-09 09:05] timche commented on #100
Yup, we could also rewrite our build process using npm `scripts` instead of the `Makefile`.

[2016-07-09 09:15] timche commented on #101
Would you mind opening a PR to change this?

[2016-07-09 09:16] timche commented on #103
This could be done together with resolving #101.

[2016-07-09 09:24] timche commented on #68
Whenever I need more than 1 argument to pass, I also use an object instead, so it is clear what the reducer will receive. Don't forget, `payload` can be any type of value.

[2016-07-09 09:27] #82 closed

[2016-07-09 09:27] #65 closed

[2016-07-09 10:12] yangmillstheory commented on #99
Right. We could combine this with `gulp.watch` to achieve the continuous linting behavior.

https://github.com/yangmillstheory/redux-standard-actions/blob/master/gulpfile.babel.js#L83

[2016-07-09 10:16] yangmillstheory commented on #31
I've been using this feature at work via a fork of this project and it's turned out great for DRY'ing up our reducers (especially when using reducer composition). I'll see if I can contribute this feature back to the repository.

[As mentioned above though](https://github.com/acdlite/redux-actions/issues/31#issuecomment-230199255), I don't see a cleaner path to doing this than the `combineActions`

[2016-07-09 10:23] timche commented on #99
I would like to add this feature without implementing a build system.

How about one of these?
- https://www.npmjs.com/package/eslint-watch
- https://www.npmjs.com/package/watch

[2016-07-09 10:25] yangmillstheory commented on #100
This would be great. Object spread is so useful.

[2016-07-09 10:30] yangmillstheory commented on #103
Closed in https://github.com/acdlite/redux-actions/commit/e7bdb2f6109ec196ce097bccd7026bf1497a1643.

[2016-07-09 10:30] #103 closed

[2016-07-09 10:30] yangmillstheory commented on #101
Closed in https://github.com/acdlite/redux-actions/commit/e7bdb2f6109ec196ce097bccd7026bf1497a1643.

[2016-07-09 10:30] #101 closed

[2016-07-09 17:52] yangmillstheory commented on #99
This issue will be closed by https://github.com/acdlite/redux-actions/pull/107.

[2016-07-09 17:52] yangmillstheory commented on #100
This issue will be closed by https://github.com/acdlite/redux-actions/pull/107.

[2016-07-09 18:03] yangmillstheory commented on #68
@timche I'm OK with this approach (encouraging named parameters if I understand correctly), and it's something I use at work.

Come to think of it, I haven't found great use cases for payload creators yet (I just use the identity with plain object payloads), and separately am interested to hear of any.

[2016-07-10 15:49] #99 closed

[2016-07-10 15:49] #100 closed

[2016-07-13 14:18] vanthiyathevan opened #108 "`defaultState` not passed to `handleAction` from `handleActions`"
Shouldn't it be passed to `handleAction` from `handleActions`?

[2016-07-14 04:46] yangmillstheory commented on #108
https://github.com/acdlite/redux-actions#handleactionsreducermap-defaultstate

I don't think this would work.

The `defaultState` parameter is passed to the combined (reduced) reducer.

Since we're using [reduce-reducers](https://github.com/acdlite/reduce-reducers) which runs the reducers serially, it will actually be passed to the first reducer in the chain in case the state passed in was `undefi

[2016-07-14 04:46] #108 closed

[2016-07-16 03:37] yangmillstheory commented on #47
From this thread, it sounds like people would prefer the following (or a slight variant of the following)

- `makeActionCreators`
- `makeActionCreator`
- `makeActionReducers`
- `makeActionReducer`

Dropping the `make` prefix would make it a bit less verbose.

[2016-07-16 17:44] yangmillstheory commented on #68
Closing this as it's not clear as there's a good and readable alternative (using a plain JS object).

[2016-07-16 17:44] #68 closed

[2016-07-19 09:43] Tzaphkiel opened #110 "Documentation inconsistency - error.true not set anymore from createAction"
In [createAction with payload Errror](https://github.com/acdlite/redux-actions/blob/master/README.md#createactiontype-payloadcreator--identity-metacreator) documentation, it is mentionned that the `action.error` will be set to `true`.
[code]
This [was the case](https://github.com/ngokevin/redux-actions/blob/13f436b00ff30964aaaa71c82354496f4da0071f/src/createAction.js#L18) but is [not anymore (mast

[2016-07-19 09:47] timche commented on #110
Thanks for reporting this issue @Tzaphkiel. Can you please give an example how you create the actions? The tests are running fine, but I would like to know how we can reproduce this.

[2016-07-19 09:51] Tzaphkiel commented on #110
Hi,

if you mention these [tests](https://github.com/ngokevin/redux-actions/blob/master/src/__tests__/createAction-test.js),
they do not seem to test the Error setting as a payload as was done before [here](https://github.com/ngokevin/redux-actions/blob/13f436b00ff30964aaaa71c82354496f4da0071f/src/__tests__/createAction-test.js#L55)

[2016-07-19 09:52] timche commented on #110
I am referring to these tests: https://github.com/acdlite/redux-actions/blob/master/src/__tests__/createAction-test.js#L51-L83

[2016-07-19 09:55] Tzaphkiel commented on #110
Apologies, I linked the wrong repository...

An example usage would be :
[code]

[2016-07-19 10:01] timche commented on #110
There is the problem. Our library is called redux-action**s**. You are using the wrong library ;)

[2016-07-19 11:30] Tzaphkiel commented on #110
Will update and check again. thx.

[2016-07-19 11:37] Tzaphkiel commented on #110
It works much better with the proper one...
![image](https://cloud.githubusercontent.com/assets/644489/16948578/cab7efc0-4db5-11e6-850a-2a4922217fba.png)

Thank you... it did seem strange the documentation was not in sync with the code.

[2016-07-19 11:37] #110 closed

[2016-08-14 01:07] smooJitter opened #116 "ha"

[2016-08-14 04:22] #116 closed

[2016-08-19 15:50] arb opened #118 "null Payload"
Looking at https://github.com/acdlite/redux-actions/blob/master/src/createAction.js#L16-L18 it now seems impossible to set an action payload to `null` or `undefined`?

Or am I missing something?

[2016-08-19 15:52] yangmillstheory commented on #118
@arb You might want to weigh in on #115.

[2016-08-19 15:55] arb commented on #118
Looks like someone is already trying to deal with this. Thanks for the link.

[2016-08-19 15:55] #118 closed

[2016-08-20 01:32] timche commented on #118
Just for clarity: I must admit that it was indeed a bad decision. If we are going to do this, this will be definitely a breaking change that is coming with v1.0.0.

[2016-08-20 01:36] timche commented on #87
Resolved with #117.

[2016-08-20 01:36] #87 closed

[2016-08-20 16:13] arb opened #120 "lodash dependency"
Looking through the code, the majority of lodash usage is extremely basic, most of it is just things like `isFunction` and `isObject`. I'm curious if there has been any discussion about dropping the lodash dependency entirely? Seems like a pretty large burden just for basic type checking functions.

[2016-08-20 16:18] timche commented on #120
So why should it be an issue? Using these functions gives us safety that they just work.

[2016-08-20 18:07] arb commented on #120
Size of bundle and depedency management is my most "scientific" reason. The large project I'm working on now does not use lodash anywhere, but it's included in our bundle because this library uses it.

On a personal level, I don't think this project really needs lodash as all of the used lodash features are basically one-liners; especially since you're using babel so have access to all the fancy E

[2016-08-20 19:11] timche commented on #120
We are only cherry-picking the functions we need with the [slash import](https://github.com/acdlite/redux-actions/blob/master/src/handleAction.js#L1-L4), so in the end, only required functions are in the bundle and not the whole `lodash` library.

Indeed there are some functions like [`isArray`](https://github.com/acdlite/redux-actions/blob/master/src/createActions.js#L4) we could replace with the

[2016-08-22 13:07] arb commented on #120
It's true that doing the slash import keeps the amount of lodash code to a smaller amount, those requires STILL bring with them a fair amount of common lodash code so that those imports need.

[2016-08-29 13:05] gaelduplessix opened #121 "Identity function with createAction cause an error with redux-dev-tools"
If I a create a basic action with `createAction` that doesn't handle any payload, it will use the identity function:
[code]

However, when using redux with react, you often connect your actions creators using `mapDispatchToProps`, like:
[code]

And then in your component, you directly pass your event to a react event such as:
[code]

Thus, when react will call our action, it will be called with th

[2016-08-29 13:55] timche commented on #121
We once had this issue reported in #90.

Here is my opinion to that: The only thing we can do is to write a FAQ/gotchas/common issues. I am not a friend of doing changes only for this special case where the action creator/identity function itself is still working like advertised. Imo it's up the developer to intercept those things.

[2016-08-29 14:10] gaelduplessix commented on #121
I agree that this may not justify a breaking change.

Improving the doc is probably enough but do you have any solution better than doing `() => {}` ?

[2016-08-29 14:20] timche commented on #121
You have 3 options:

1. Provide a no-op function in the action creator like you did to prevent passing the event, but then you can't pass any arguments to it.

2. Wrap a function around `increment`  in `mapDispatchToProps`, but then you to write a `mapDispatchToProps` function every time for prevent it.
[code]

3. Wrap a function around `increment` in the component, when you know that you are pass

[2016-08-30 04:55] yangmillstheory commented on #121
I believe **3** will fail [this lint rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md).

I'm a big fan of **2**.

This is exactly what `mapDispatchToProps` should be doing based on its name: fitting the action creators to `dispatch`. In this case it's sanitizing the arguments. More complicated mappers could curry the action creators with parameters from

[2016-08-30 09:28] timche commented on #121
@yangmillstheory That lint rule will only fail for classes if I remember correctly. Any function inside that stateless function will a new function. If it should really fail, writing the function outside the jsx prop will resolve it, which is also better than what I've suggested in 3.

[code]

[2016-08-30 14:57] yangmillstheory commented on #121
It actually fails for stateless functional components too:

[code]

[code]

Passing a function-local reference to `onClick` does pass the rule though.

[2016-08-31 16:33] #121 closed

[2016-08-31 16:36] timche opened #122 "v1.0.0 Roadmap"
With v1.0.0 we are releasing our first version that comes with breaking changes:

## Breaking Changes:
- [x] #115: Only omit payload if undefined
- [ ] #127: Make defaultState required when creating reducers
- [x] #145: Fail early for non-FSA actions

[2016-08-31 16:37] timche opened #123 "v0.12.0 Roadmap"
## New Features & Enhancements

- [x] #113: combineActions: handle multiple actions with the same reducer

[2016-08-31 16:40] timche commented on #123
I would also like to introduce [Flowtype](https://flowtype.org/) with this version as it is getting popular and already being used in many React application as well as in [create-react-app](https://github.com/facebookincubator/create-react-app).

cc @yangmillstheory

[2016-08-31 17:00] timche commented on #122
I would also like to introduce [Flowtype](https://flowtype.org/) with this version as it is getting popular and already being used in many React application as well as in [create-react-app](https://github.com/facebookincubator/create-react-app).

cc @yangmillstheory

[2016-08-31 17:04] yangmillstheory commented on #122
Sounds good.

I remember you had a great idea to clean up the documentation too. Just wanted to make sure that's not forgotten (not sure which epic it goes in).

[2016-08-31 17:05] timche commented on #122
Oh, yeah, documentation cleanup/improvement would also be nice. I will add it.

[2016-08-31 19:09] #31 closed

[2016-08-31 19:15] timche commented on #120
I've just seen that [Redux is also using lodash](https://github.com/reactjs/redux/search?utf8=%E2%9C%93&q=lodash). So lodash will be installed and bundled anyway if you are using Redux in your project.

Imo lodash has also become a standard library and as I said above, it gives us safety that things are working. It is also known to be performant out of the box and makes the code more readable, so

[2016-08-31 19:52] arb commented on #120
I didn't realize redux was using it; bummer. Well with that in mind it would make sense to leave lodash in since it's already sort of part of the ecosystem.

[2016-08-31 19:52] #120 closed

[2016-09-01 07:13] timche commented on #89
@yangmillstheory What do you think about this?

[2016-09-01 15:37] kpaxqin commented on #2
@johanneslumpe @acdlite
Here is [my idea](https://github.com/kpaxqin/redux-action-tools#createreducer)

Example here:

[code]

[2016-09-01 17:52] timche commented on #122
Because #115 seems to be more relevant than expected, we can release that as only change in v1.0.0 and everything else after to speed up the release.

cc @yangmillstheory

[2016-09-01 17:53] yangmillstheory commented on #122
That sounds good. Are you going to take #115?

[2016-09-01 17:55] yangmillstheory commented on #89
I think it belongs in userland. Just define a reusable helper in your code:

[code]

[2016-09-01 18:02] timche opened #125 "v1.1.0 Roadmap"
## New Features & Enhancements
- [ ] #7: handleAsyncActions (Needs probably a new PR)
- [ ] Add [Flowtype](https://flowtype.org/)
- [ ] Improve Documentation

[2016-09-01 18:04] timche commented on #122
Yes @yangmillstheory

[2016-09-01 18:11] timche commented on #123
v0.12.0 has been released.

[2016-09-01 18:11] #123 closed

[2016-09-01 18:16] timche opened #126 "Can we safely drop the Symbols support?"
With v1.0.0 we would also like to drop the Symbols support as they are not recommended and ["generally a bad idea"](https://github.com/acdlite/redux-actions/issues/20#issuecomment-134340125).

Before we are dropping it completely, is anyone using them extensively?

[2016-09-02 04:25] yangmillstheory commented on #125
For #7, are async actions in the FSA spec?

[2016-09-03 04:09] yangmillstheory commented on #122
@timche can I take care of #47 in v1.0.0?

[2016-09-03 04:11] yangmillstheory commented on #18
@timche are you still working on this, or can I self-assign?

[2016-09-03 12:29] timche commented on #18
You can if you want.

[2016-09-03 12:30] timche commented on #122
That would be huge breaking change. Could be sth for v2.

[2016-09-05 22:54] yangmillstheory commented on #122
What about #18?

I'm not sure if this would also be breaking actually, since I think Redux throws errors on missing default state.

#18 just ensures the errors are thrown earlier.

[2016-09-06 09:59] timche commented on #122
Yes, this is actually breaking, since we are making this required, even it was throwing an error before.

[2016-09-06 10:02] timche commented on #89
Closing it then for now, feel free to comment in here to re-open this feature request.

[2016-09-06 10:02] #89 closed

[2016-09-06 15:55] yangmillstheory commented on #122
OK. Please see #127 😄 .

[2016-09-08 19:16] yangmillstheory commented on #126
FYI [this is the original thread](https://github.com/acdlite/redux-actions/issues/20) where we decided to adopt Symbol support.

[2016-09-09 02:20] yangmillstheory commented on #122
Can we add type-checking of `payloadCreator` and `metaCreator` to this?

See the first example in https://github.com/acdlite/redux-actions/pull/128#issuecomment-244896176.

[2016-09-13 23:06] ntucker opened #133 "Allow use in class"
Say you want to make a method equal to createAction. Currently this doesn't work very well because this isn't accessible from the payloadCreator or metaCreator.

A simple change will make this work.

First change actionHandler from a lamba to a normal function so it takes on the this of the Class it is assigned to.

Second, bind this to payloadCreator and metaCreator before they are called.

[2016-09-14 19:17] BerkeleyTrue commented on #133
Is this what you are trying to accomplish?

[code]

[2016-09-14 20:04] ntucker commented on #133
That's the intended result, yes. But of course, doing that defeats the purpose of createAction as it's purpose is to reduce code, so I want this to be able to do the same thing:

[code]

[2016-09-14 20:08] BerkeleyTrue commented on #133
Not saying this isn't a valid use case, but it seems like a bad smell to make action creators tied to every instance of a class.

My approach to this kind of thing in the past is to do anything that requires context before calling the action creator with my data.

Is there a reason this would not work or is undesirable? I can see the case of reducing the amount of code to write, but that seems a l

[2016-09-14 20:36] ntucker commented on #133
I don't like polluting global namespaces - I prefer python over php. I don't see what's so intrinsically bad with namespacing that you have to ban others from using it.

The reason it currently does not work is because it is using lambdas which bind this at declaration time (in this case to undefined), rather than following the rules of methods. I don't see how moving from lambda to function decla

[2016-09-14 20:36] ntucker commented on #133
I'll create the PR, I have just been burned too many times to do a PR before I know it will be accepted.

[2016-09-15 15:09] timche commented on #133
What's the purpose of creating actions in classes?

[2016-09-15 15:15] yangmillstheory commented on #133
I've never seen a Redux example where a class had action creation as a shared behavior. Is your class a React Component, local business object, or a helper module?

I'd encourage simplicity and using a functional programming style with Redux where possible.

[2016-09-15 20:10] ntucker commented on #133
@timche To use classes. Well, that was obvious, so perhaps your real question is why is OOP even useful ever? This is probably a result of OOP functionality in javascript being traditionally extremely limited, and still lacking in many ways. However, even with JS's limitations that are cases where it is still very useful.

More on OOP here: https://www.quora.com/What-does-object-oriented-programmi

[2016-09-15 20:12] yangmillstheory commented on #133
Er...

[2016-09-15 20:18] ntucker commented on #133
And to be specific to my use case, I'm adding methods and factories to my immutable data structures. (I personally use Immutable.js - the thing Facebook made.)

[2016-09-15 21:27] ntucker commented on #133
Arrow functions are not syntactic sugar - they change the binding behavior with regard to 'this'.

So when you write
[code]

You're actually writing

[code]

But nowhere in the code are you trying to attach this to anything specific - so you're adding extra lines of javascript to be executed just to destroy normal javascript behavior.

Changing this is quite trivial.

[2016-09-15 21:39] BerkeleyTrue commented on #133
@ntucker Do you mind sharing your specific use case?

[2016-09-15 21:51] ntucker commented on #133
Sure, I'll show you my immutable Class.

[code]

[2016-09-20 23:34] lxe opened #134 "redux-actions bundles lodash almost in its entirety"
redux-actions.min.js is 32.4 kB, 82% of which is lodash:

<img width="1187" alt="screen shot 2016-09-20 at 4 21 26 pm" src="https://cloud.githubusercontent.com/assets/1486609/18692337/5432a226-7f4e-11e6-8cd0-554208a25124.png">

However, we only need the following things:

[code]

Looks like babel transforms these things just fine, only requiring individual files:

[code]

I'm guessing maybe intern

[2016-09-21 01:19] lxe commented on #134
lodash functions and their weights in minified bytes.

[code]

[2016-09-23 15:37] pyros2097 opened #137 "How to combine multiple handleActions?"
I have an initial state like this and I want to separate each part into its own reducer but I can't seem to combine it redux's combineReducers. It says store is not a valid reducer.
[code]

[2016-09-23 16:28] yangmillstheory commented on #137
It doesn't seem like you're handling any actions in those reducers. Could that be the reason why `createStore` is failing?

[2016-09-24 04:39] yangmillstheory commented on #137
@pyros2097

This isn't a `redux-actions` error. It's actually not even a Redux error.

You need to invoke `combineReducers` with a plain object whose values are reducers. The error message tells you this pretty clearly:

***
### Wrong

[code]

[code]

***

### Right

[code]

[code]

[2016-09-24 04:39] #137 closed

[2016-09-24 05:31] pyros2097 commented on #137
Thanks a bunch .. :heart:

[2016-09-24 05:42] yangmillstheory commented on #137
I think there's a more elegant way to define your store shape (less verbose and without duplicating keys).

This is in node@v6.5.0:

[code]

[code]
***
Or better yet, using (vertical) reducer composition:

[code]

[code]

[2016-09-24 11:19] ypxing opened #138 "action.error cannot be set when Error object returned in payloadCreator"
The behaviour has been changed by below commit

https://github.com/acdlite/redux-actions/commit/b9d5eb7daec5e29cb02c34dfb855c51183051f71

But we do depend on the original behaviour so that some basic validation can be done in our payloadCreator and set "error" for invalid cases.

Should we revert above commit back?

[2016-09-24 18:38] yangmillstheory commented on #138
Can you do the validation outside the payload creator, passing in an `Error` object only when validation fails?

Also, would https://github.com/acdlite/redux-actions/pull/136 fix this for you?

[2016-09-25 11:05] ypxing commented on #138
Yes, I believe #136 should fix the issue since it will check the return value of payloadCreator.

I put basic validation in my action creator since I don't write another wrapper.

[2016-09-27 09:40] timche commented on #134
Thanks for these extremely useful details!

[2016-09-27 10:15] #134 closed

[2016-09-27 14:41] yangmillstheory commented on #134
@lxe What tool did you use to produce that visualization?

[2016-09-27 14:43] #138 closed

[2016-10-06 15:20] JaKXz opened #140 "Actions without types throw an error rather than return the default state"
In my test setup code I have this line:

[code]

where

[code]

However, the first method throws an error because:
![screen shot 2016-10-06 at 11 15 55 am](https://cloud.githubusercontent.com/assets/2642545/19158328/4b268bd8-8bb6-11e6-96b6-3cd65cbabdf2.png)

and in the transpiled source it looks like `action.type.toString()` is called unguardedly. Now, _maybe I'm misunderstanding how FSAs work_, b

[2016-10-06 15:24] yangmillstheory commented on #140
A reducer returns the default state when the state given is undefined; the action must exist. This isn't FSA thing, just a Redux thing.

For tests around this, see

- https://github.com/acdlite/redux-actions/blob/master/src/__tests__/handleAction-test.js#L170
- https://github.com/acdlite/redux-actions/blob/master/src/__tests__/handleAction-test.js#L15

For background material, see

- https://githu

[2016-10-06 15:25] #140 closed

[2016-10-06 15:37] JaKXz commented on #140
Thanks @yangmillstheory - the background material helps.

Follow-up question:

I actually originally tried `reducer(undefined, {})` but that failed with the same error. Could that be a valid thing for `handleAction`?

[2016-10-06 15:39] yangmillstheory commented on #140
See https://github.com/acdlite/redux-actions/pull/139#issuecomment-250376196 and the comment below it.

[2016-10-06 15:48] JaKXz commented on #140
Sorry for the duplication/noise, and 🙏 for a great project! I thought I'd searched the issues properly but I guess not.

[2016-10-06 15:50] yangmillstheory commented on #140
Out of curiosity, when do you encounter actions in your app that don't have a `type` property?

If you're using this library, `createActions` makes action creators that will always return actions with `type`.

[2016-10-06 15:55] JaKXz commented on #140
Yeah at this point it's just 🚴🏚-ing about test setup code, I can't imagine a real example of having an undefined action or action type being dispatched. And I think I understand the argument that having the "robustness" to handle that is more bad than good.

[2016-10-08 17:21] yangmillstheory opened #145 "Fail early for non-FSA actions"
Since this library is for Redux users compliant to [FSA](https://github.com/acdlite/flux-standard-action/), we should fail explicitly when `handleAction` is called with a non-FSA.

See #141, https://github.com/acdlite/redux-actions/pull/139#issuecomment-250376196, and https://github.com/acdlite/redux-actions/issues/140.

[2016-10-12 12:45] hseleiro opened #146 "React - Render an Action To show the details of that specific Work"
Dificult Question...Please Understand.

I'm trying to render an action when i click a button to show the details of that specific Work that i have on an array.The problem is that because the button is inside the the Map function, it repeats on all my Works, and i want a specific detail for each. Sorry if im not explaining very well.

This is my Work List Container -

    class ListaTrabalhos exten

[2016-10-17 15:04] myme opened #148 "Additional arguments for handleAction{,s} reducers"
A feature request here.

I have a reducer which have cross-cutting concerns, basically an action logger which puts log lines in the store based on different kinds of actions. This logger needs to know about a broader part of the state than the list of log statements its reducing. By sequencing the reducers in the root reducer, the log reducer can get for example the previous and next version of th

[2016-10-19 03:33] yangmillstheory commented on #146
I'm not sure what the specific problem is.

Are you using `redux-actions`? If not, this might be better posted in https://github.com/gaearon/redux.

How are you dispatching the action? I don't see any calls to `dispatch`.

[2016-10-24 06:42] jake-daniels opened #149 "Using thunk in map object for 'createActions' method."
I really like `createActions` method because it allows me to write pretty small definitions of action creators. Instead of
[code]
I simply create an item inside mapping object
[code]
Howewer, it seems that this method can't deal with thunks. I want to dispatch multiple actions in one action creator but still be able to define the action creator this way. Dumb example would look like this:
[code]
`

[2016-10-24 09:30] theghostbel commented on #126
You can put somewhere a "patch" so anyone can adopt "Symbal" supoprt if they need it. I personally don't know any project who uses Symbols.

[2016-10-27 00:50] Darmody opened #150 "Integrate redux-action-type-creator?"
Hey,  I use `redux-actions` for a long time, and it is wonderful.

I just create a package for make action types definition in easy way:
https://github.com/Darmody/redux-action-types-creator

and thinking that maybe `redux-actions` can integrate `redux-action-types-creator`, because `action` and `action type` always been created together.

How do you think?

[2016-10-27 01:51] yangmillstheory commented on #150
Is there anything preventing users from using the two libraries in conjunction?

I'd prefer to keep the core of this codebase focused on Flux Standard Action utilities for Redux.

![image](https://cloud.githubusercontent.com/assets/2729079/19751321/2bda20ee-9bad-11e6-9773-39c44fa24550.png)

`redux-action-types-creator` doesn't seem to have anything to do with [Flux Standard Actions](https://github

[2016-10-27 01:51] #150 closed

[2016-10-27 02:04] yangmillstheory commented on #149
I think this library is fairly unaware of thunks and middleware (which is good); it's only concern is providing utilities for creating Flux Standard Action (FSA) creators, and reducing said FSAs.

So, `payloadCreator` is assumed to be a synchronous function that returns the `payload` value of an FSA.

I can give you some examples of how I integrate with `redux-thunk`.

[code]

I don't have any cus

[2016-10-27 02:05] yangmillstheory commented on #149
I'm not sure how to make your intended code work without significantly warping core. Happy to continue the discussion regarding alternatives though.

[2016-10-27 02:05] #149 closed

[2016-10-27 02:06] #146 closed

[2016-10-27 02:06] #133 closed

[2016-10-27 02:16] yangmillstheory commented on #148
I'm not sure if we should be passing any arguments other `state` and `action` to a reducer. I'd like to not deviate from the [documented signature](http://redux.js.org/docs/basics/Reducers.html#handling-actions) as much as possible.

Couple of questions.

1. Can you provide an example which doesn't use `immutable` (not everyone, including me, is familiar with this library, and using it in your exa

[2016-10-27 03:57] Darmody commented on #150
@yangmillstheory Yeah, you are right, just asking.
Thank you anyway!

[2016-10-27 08:45] myme commented on #148
I actually followed the advice given by @gaearon in https://github.com/reactjs/redux/issues/749#issuecomment-141570236. One thing about the arguments splat is that it won't have an effect unless you're actually invoking the reduced reducer from `handleActions` with extra arguments.

Sorry about the example using Immutable, I get that it may clutter up the use case illustration a bit if you're not

[2016-10-28 03:29] yangmillstheory commented on #122
I've ported this roadmap issue over to https://github.com/acdlite/redux-actions/projects/1.

[2016-10-28 03:29] #122 closed

[2016-10-28 03:30] yangmillstheory opened #151 "Add Flowtype"
See https://github.com/acdlite/redux-actions/issues/125#issue-174587751.

[2016-10-28 03:41] yangmillstheory opened #152 "Improve documentation"

[2016-10-28 03:42] yangmillstheory commented on #125
I've migrated this roadmap issue to https://github.com/acdlite/redux-actions/projects/2.

[2016-10-28 03:42] #125 closed

[2016-10-28 04:21] JaKXz commented on #126
I'm curious to see if there are any use cases for Symbols before just dropping them. From the Redux docs:

but it might make _more_ sense for FSA to "standardize" on strings only for the [advantages mentioned](http://redux.js.org/docs/faq/Actions.html#why-should-type-be-a-string-or-at-least-serializable-why-should-my-action-types-be-constants).

[2016-10-28 07:55] yangmillstheory commented on #148
Thanks for the clarification; it's great to learn about this use case.

[code]

Where does `next.log` come from?

I've seen the thread https://github.com/reactjs/redux/issues/749 before and am interested in reading through it in more detail. What do you think about submitting a PR for this?

Also, what would the middleware implementation look like?

[2016-10-28 08:15] myme commented on #148
`next.log` is the state namespace for the `log` reducer. Under init, it's `undefined` and so the `handleActions` for `log` would return the empty list default argument `[]`. It then concatenates new log statements (or clears the log) based on the actions as actions trickle in.

I could have a look at a PR, though not right away. As I noted in the first comment, there needs to be an update to `redu

[2016-10-30 17:09] TimothyGu opened #153 "Publish new version"
Hi,

I am in need of the change done in #136, which was merged last month and not yet published. If possible, could you please publish the changes?

Thanks.

[2016-10-30 20:23] yangmillstheory commented on #153
https://github.com/acdlite/redux-actions/releases/tag/v0.13.0

https://github.com/acdlite/redux-actions/commit/4b6a9805f76063f6c8e93f864ad74279c55874a6

👌 ✌️ 🍻

[2016-10-30 20:23] #153 closed

[2016-10-30 20:23] TimothyGu commented on #153
Thanks!

[2016-10-31 11:30] hseleiro opened #154 "React-Redux - Create a Search Filter"
Hello.

The objective is to make a filter when i search the name of some work i have in an array.
By this stage i have successful render the search bar and get the input value. I also render the list of works.

**App.js**
[code]

**search_bar.js**

[code]

**work_list.js**

[code]

**My Reducers -**

**reducer_work.js**

[code]

**index.js**

[code]

Thank You !

[2016-10-31 14:01] yangmillstheory commented on #154
Hi,

Please file issues here related to problems in the `redux-actions` source code. This is more general and has to do with React and Redux, and getting your code to work.

I would recommend asking for help in http://codereview.stackexchange.com/.

[2016-10-31 14:01] #154 closed

[2016-10-31 14:04] hseleiro commented on #154
Thanks

[2016-11-01 10:17] timche commented on #126
If we are unsure about it, I think it's okay to keep it. They don't do anything harmful.

[2016-11-01 10:18] timche commented on #18
Fixed in #127.

[2016-11-01 10:18] #18 closed

[2016-11-01 14:34] yangmillstheory commented on #145
d8d7f63

[2016-11-01 14:34] #145 closed

[2016-11-02 16:42] JaKXz commented on #126
@timche I agree - I think it makes a better candidate for the next major version to be dropped. We can mark it as deprecated for now and see if there's pushback.

[2016-11-10 09:42] baszalmstra opened #158 "Crash for actions without action.type"
redux-actions crashes when a middleware package (electron-redux-store) dispatches an action where type is null or undefined. It crashes since the latest release because of this code:

[code]

`action.type` is `null` therefor toString cannot be called.

I also filed this with redux-electron-store: https://github.com/samiskin/redux-electron-store/issues/34

[2016-11-10 10:24] timche commented on #158
I'd say this is a `redux-electron-store` issue, because [Flux Standard Actions](https://github.com/acdlite/flux-standard-action) says, _"By convention, type is usually string constant or a Symbol."_.

[2016-11-10 10:27] #158 closed

[2016-11-12 08:31] Strandedpirate opened #159 "Prefixes/Namespacing proposed syntax"
For namespacing, which I would like to see, how about supporting this kind of syntax? This actually reduces boilerplate in the destructing assignment for all 2'nd level action creators and prevents having to keep keys and their destructed names in sync.

[code]

Example usage:
[code]

Destructures to the following:
[code]

Supporting an unlimited level of literal nesting would be awesome and allow

[2016-11-13 07:53] yangmillstheory commented on #159
I would prefer that this be kept out of the library; but that doesn't mean we can't come up with a reasonable solution.

If we can re-implement a smarter camel-casing function (see #135), we can actually push the rest of the solution out to userland.

[code]

[code]

Unfortunately our camel-casing function doesn't respect special delimiters, like `/`. I'd be happy to take care of this; then you'd

[2016-11-13 07:56] yangmillstheory opened #160 "Honor special characters when camel-casing actions in createActions"
See #159, #135.

A positive side effect of 50% less bytes.

[2016-11-18 17:45] smeijer opened #162 "forcing state to be immutable"
I often use a pattern like:
[code]

Where do i leave the `state instanceof InitialState` part in `handleActions`? Is this at all possible?

[code]

[2016-11-18 18:15] xiaohanzhang commented on #162
I think you can create an outside reducer for this
[code]

[2016-11-18 18:38] smeijer opened #163 "fallthrough actions"
In normal reducers we can use fallthrough to use the same reducing method for multiple action types. What's the easy way to do this in `redux-actions`?

[code]

[code]

Is this even possible?

I realize I can create a small helper function, and call this function 4 times, but still it doesn't look very nice:

[code]

Anyone with suggestions to handle this in a clean way?

[2016-11-18 18:45] smeijer commented on #162
Awesome. I did think about something like that, but it seemed to simple to work.

Works perfectly though! Thanks.

[2016-11-18 18:45] #162 closed

[2016-11-18 19:13] xiaohanzhang commented on #163
have you checked `combineActions` ?

[2016-11-18 19:19] yangmillstheory commented on #163
Yep, please see https://github.com/acdlite/redux-actions/#combineactionsactiontypes. Thanks @xiaohanzhang.

[2016-11-18 19:19] #163 closed

[2016-11-18 20:35] smeijer commented on #163
Yes, I did see `combineActions`.  But even after rereading this section several times,  it's not directly obvious how to handle this case.

[2016-11-18 20:36] yangmillstheory commented on #163
This is how we usually use it in code:

[code]

[2016-11-18 22:40] noahsilas opened #164 "Non-FSA actions cause handleAction reudcers to emit confusing error messages"
In #141 an invariant checks that each action is an FSA before attempting to process it. When attempting to upgrade to 1.0.0, this causes issues in a large app I am working on where our more recent actions follow the FSA pattern, but older actions do not. When those older actions were triggered, the invariant caught them and prevented the reducers that are actually intended to process that type of

[2016-11-18 22:53] yangmillstheory commented on #164
Hi,

Sorry for the inconvenience. Following semver, 1.0.0 does include breaking changes, so it's expected that application code will have to change to accommodate, although an incremental upgrade path would be ideal. Sorry for not providing that.

To clarify, the answer to 1 is yes, I believe the original intent of this library is to provide utilities for FSA.

Thus, the action items seem to be:

[2016-11-19 09:55] smeijer commented on #163
That one is briljant. Can't believe it's not that obviously noted in the readme.

[2016-11-19 17:15] timche commented on #148
I have a few concerns with allowing additional arguments:

1. We are moving away from the original concept of a reducer ´(state, action) => state` which is super simple and beginner-friendly. Additional arguments can be confusing and rely heavily on the root reducer/other dependencies.

1. We are working against the [unidirectional data flow](http://redux.js.org/docs/basics/DataFlow.html). That me

[2016-11-19 17:26] #126 closed

[2016-11-19 17:27] timche commented on #86
@yangmillstheory we could add this, because we've added `invariant`, what do you think?

[2016-11-19 17:30] yangmillstheory commented on #86
Yes, let's do it! I can work on it.

[2016-11-19 17:36] timche commented on #164
With v1.0.0 we are trying to make this library more user-friendly with throwing errors if something is wrong, so debugging is much easier.

This library is primarily designed for [Flux Standard Actions](https://github.com/acdlite/flux-standard-action) since the beginning, so it should only work with FSA:

[2016-11-19 17:46] yangmillstheory commented on #163
@smeijer Would you mind submitting a PR to improve the README?

[2016-11-19 18:07] yangmillstheory commented on #163
Actually, this is taken care of in https://github.com/acdlite/redux-actions/pull/165/files.

[2016-11-19 18:39] noahsilas commented on #164
Just to be entirely clear; while I expect the reducers created via `handleAction` to only handle FSA, I don't expect that having separate, non-FSA-style actions in my app to cause an invariant error. This slows adoption of this library, because I can't start by adding a few redux-action created actions + reducers, but instead need to migrate the entire app onto FSA actions.

@timche: The criteria

[2016-11-19 22:57] xiaohanzhang commented on #148
I am not sure if this will cause any confusing. Additional arguments is optional, beginners doesn't need to know their existence.

Personally I found several case will require additional arguments.
1)  In large project, a reducer need added a new dependency from outer state.
Assume we need allow user change and save colour for their input. For example:

[code]
Another option is add getAdditionArgs

[2016-11-20 00:32] yangmillstheory commented on #159
I'm planning on releasing https://github.com/yangmillstheory/redux-scoped-actions once #166 gets merged. This would let you namespace and structure your actions hierarchy to whatever depth you want.

[2016-11-20 11:53] myme commented on #148
Now that you mention it @timche, I totally agree that the "game over" concept is best modelled with a selector, as you say.

For the log concept, it's possible to do as you suggest, basically keeping track of all actions going through the reducer. What I don't like about that though is the fact that the logic behind the reducer is reduced (no pun intended) to basically a simple `unshift/push` oper

[2016-11-21 09:42] geminiyellow opened #167 "v1.0.0 change too much"
i use something like this,

[code]

but when i update to v1.0.0, it die.

and i use `redux-api-middleware`, create actions like

[code]

but when i update to v1.0.0, it die.

@acdlite i think you can find a more smoothly way to update, not like this.

[2016-11-21 10:42] Lexicality commented on #167
What errors are thrown?

[2016-11-21 10:47] timche commented on #167
Thanks for reporting.

I assume you are getting [this error](https://github.com/acdlite/redux-actions/blob/master/src/handleAction.js#L27-L30)?

[2016-11-21 17:26] tricoder42 commented on #164
Example: `redux-form@^5.0.0` doesn't use FSA-compliant actions even though all has `type`.

[2016-11-21 19:23] timche commented on #167
#168 has been opened to resolve this issue.

[2016-11-21 19:23] timche commented on #164
Thanks for referencing to other libraries. We have opened #168 to resolve this issue.

[2016-11-21 20:01] #164 closed

[2016-11-21 20:10] timche commented on #167
We have published [v1.0.1](https://github.com/acdlite/redux-actions/releases/tag/v1.0.1).

[2016-11-21 20:10] timche commented on #164
We have published [v1.0.1](https://github.com/acdlite/redux-actions/releases/tag/v1.0.1).

[2016-11-22 03:11] geminiyellow commented on #167
@timche thanks , and sorry i post 2 issues in 1

`export const shared = handleActions({}, {})`

[code]

[2016-11-22 07:44] timche commented on #167
What exactly trying to achieve with `export const shared = handleActions({}, {})`? The function signature is [`handleAction(type, reducer | reducerMap = Identity, defaultState)`](https://github.com/acdlite/redux-actions#handleactiontype-reducer--reducermap--identity-defaultstate). The default state is missing is [required in Redux](http://redux.js.org/docs/basics/Reducers.html).

[2016-11-22 11:51] geminiyellow commented on #167
i just left the placeholder in the empty `reducer` file.
before v1.0.0,

i can use
[code]

create a empty state in store.
but now i cannot do this.

:trollface:

[2016-11-22 11:59] timche commented on #167
As mentioned before, a default state is required in Redux, regardless of redux-actions. Also see: https://github.com/acdlite/redux-actions/issues/18

[2016-11-22 11:59] #167 closed

[2016-11-22 15:13] yangmillstheory commented on #167
[is a`redux` error, not a `redux-actions` error.](https://github.com/reactjs/redux/blob/0139a9601dae810db533762c2bc4a745a37d4cf6/src/combineReducers.js#L65.)

[2016-11-22 15:17] geminiyellow commented on #167
ok, i can use

[code]

i just want to tell you 0.13 can use

[code]

but v1.0.0 cannot.

[2016-11-22 23:09] Bouncey opened #169 "createAction not accepting null as second argument"
I have just tried to `v1.0.1` and I am getting this error stack.

Throws this error stack
[code]

The actions causing the error are in this format
[code]

Any advice would be greatly appreciated

[2016-11-22 23:10] yangmillstheory commented on #169
Could you pass `undefined` instead of `null`. After a long discussion, we decided not to have `null` and `undefined` mean the same things in this context.

[2016-11-22 23:13] Bouncey commented on #169
Our linting is against `undefined`, I will discuss with our other maintainers :+1:

[2016-11-22 23:16] yangmillstheory commented on #169
@Bouncey Let me discuss this with @timche. I had some reservations merging this, and I don't think it should inconvenience your team this much. I'd like to allow `null` again.

Can you downgrade for now?

[2016-11-22 23:17] Bouncey commented on #169
I was just testing out the `greenkeeper` PR, it isn't merged just yet

[2016-11-23 17:59] #169 closed

[2016-11-23 18:42] yangmillstheory commented on #169
`v1.1.0` is out, and supports `null` payload creators once again.

[2016-11-23 23:53] Bouncey commented on #169
Thanks for the quick turn around :+1:

[2016-11-27 00:11] Kadrian commented on #47
I would personally favor `makeReducer` over `makeActionReducer`, since people who know redux, typically know that a reducer reduces actions.
How about:

* `makeActionCreator`
* `makeActionCreators`
* `makeReducer`
* `makeReducers`

Is there currently someone taking care of this / will this be part of a milestone soon?

[2016-11-27 00:22] yangmillstheory commented on #47
Yes, I can take care of this (it's actually trivial and I've done it in a fork).

We could release it as `v1.2.0` and alias the deprecated names (which log warnings when used), then completely remove it in `v2.0.0`.

Relatedly, are the singular forms of these methods useful anymore? The only reason I think it's worthwhile keeping them is backwards-compatibility, and it feels like it's better to ju

[2016-11-28 23:47] BerkeleyTrue commented on #169
@Bouncey Thanks for getting this fixed!

[2016-11-29 13:26] janryWang opened #171 "How to use redux-actions with redux-undo?"

[2016-11-30 06:35] yangmillstheory commented on #171
Could you give a code example and state what problem you're having?

[2016-11-30 06:42] amit1911 opened #172 "Readme createActions example incorrect"
I just noticed that in the example section for `createActions` the following example is incorrect
[code]
The payload is an array with the string `'first'` whereas it should be equal to just the string `'first'`.
Correct version is as follows:
[code]

[2016-11-30 06:46] yangmillstheory commented on #172
Good reading. I think the payload creator was meant to wrap the value in an array.

These are pulled from the tests; what do they say?

Feel free to submit a correction.

[2016-11-30 17:21] ruszki opened #173 "Error when handleActions' map doesn't contain entries"
Hi,

When an empty map is passed to handleActions, then Redux is failed because undefined will be returned for undefined state input. This has been already indicated in the discussion of #167 by @geminiyellow. The error message:

The message comes from Redux, but the problem is caused by implementation of redux-actions' handleActions.

Of course there are not many useful use-cases for an empty map

[2016-11-30 17:29] yangmillstheory commented on #173
Would you mind submitting a pull request for the missing documentation? Should be a quick change.

[2016-11-30 17:55] yangmillstheory commented on #173
Why were you passing in an empty map before?

[2016-11-30 17:56] #173 closed

[2016-11-30 18:13] ruszki commented on #173
We started to transform our product to a React/Redux based site from a Thymeleaf based one. Now, the server generates an object which is used as an initial state by Redux. So some state elements are not yet under the control of Redux, and thus, they are read-only. We used handleActions({}, defaultState) as a dummy reducer. It was chosen to maintain consistency with other reducers, so it was just a

[2016-12-01 09:50] janryWang commented on #171
Thanks, I was resolved

[2016-12-01 09:50] #171 closed

[2016-12-11 17:04] nodegin opened #176 "Usage with createStore preloadedState parameter?"
Hi, I have the following code in my `app.js` reducer:
[code]

And I am trying to preload the `type` state when creating the store:

[code]

But I got the error that `count` state became `undefined`,
Seems by using `redux-actions` I was unable to check and assign state into defaultState

[2016-12-11 17:41] yangmillstheory commented on #176
Can you share what your reducer looks like?

[2016-12-11 17:57] nodegin commented on #176
@yangmillstheory
[code]

[2016-12-11 17:58] yangmillstheory commented on #176
What is `reducers` here?

[code]

[2016-12-11 18:00] nodegin commented on #176
@yangmillstheory Oh sorry I missed that, here's the `reducers`

[code]

[2016-12-11 18:23] yangmillstheory commented on #176
I think `preloadedState` [should have the same shape of your store state](https://github.com/reactjs/redux/blob/master/src/createStore.js#L25). The use case is

If you're not doing this, I'd recommend letting sub-reducers specify their default states.

***
In general, I think reducer composition would solve a lot of your problems. Try:

[code]

Run this script and it should give you want you want.

[2016-12-11 18:23] #176 closed

[2016-12-11 18:28] nodegin commented on #176
@yangmillstheory I see, thanks for helping!

[2016-12-11 18:30] yangmillstheory commented on #176
![shipit](https://raw.githubusercontent.com/yangmillstheory/gifs/gh-pages/done/hand-wipe.gif)

[2016-12-19 06:48] watert opened #177 "handleAction should not response to falsy action type"
Is this designed to be like this? Action passed in must be FSA or created by createAction?

[code]

[2016-12-19 11:25] timche commented on #148
@myme @xiaohanzhang @yangmillstheory I'm sorry for the slow progress here.

If we see that this feature is "largely" requested, I'm convinced to add it. As a library maintainer I think it's important to not add every single feature request. The goal of this library should be to provide a stable and simple API and user-friendly developer experience.

[2016-12-19 11:30] myme commented on #148
I agree @timche. I would say it's a convenient feature (purely subjectively), and wouldn't necessary compromise compatibility. However, that doesn't mean that it's correct to add it simply because you can. Furthermore, I don't think there's any point in leaving this open to clutter up the bug list if there's no incentive to begin working on it.

[2016-12-19 11:30] #148 closed

[2016-12-22 06:10] vansosnin opened #178 "Merging defaultState with state"
I have a proposal to merge defaultState with state. Something like:

[code]

For example, we have some _non-empty_ state and we want to add some fields which are not exist yet. Something like:

[code]

It seems like the `defaultState` should be merged with our state. But now it is just being ignored because state is not empty.

[2017-01-07 16:27] yangmillstheory commented on #177
We made a change to enforce the action to be an FSA, but it broke a lot of users. So we reverted it in https://github.com/acdlite/redux-actions/commit/ef4acb7e06e3ea83ea6b1b58730d40087a7f069f#diff-b35552629f82c2c3dd19251a9cec2615.

Allowing strange `type` values seems to permissive, but it seems to be the right approach from a community standpoint for now.

[2017-01-07 16:27] #177 closed

[2017-01-07 16:31] yangmillstheory commented on #178
What doesn't about this example work?

It would be great if you could share a code snippet in node.js with some [`assert`](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=node%20assert) statements.

Looking forward to your response.

[2017-01-07 20:49] vansosnin commented on #178
I expect that `state.isCollapsed` is _true_ but actually it is _undefined_ because my app state (not empty), there is no _isCollapsed_ and defaultState are not merged. I think it is good to have some defaultState for concrete reducer.

[2017-01-07 21:54] yangmillstheory commented on #178
Are you specifying a `defaultState` in the root reducer?

[2017-01-08 08:42] vansosnin commented on #178
For now yes, I have one _real_ defaultState in the root reducer. But it seems to be useful (and I propose it to be) to have a possibility to define defaultState for every reducer, isn't it? Especially since defaultState is _required_.

[2017-01-10 04:36] faceyspacey opened #181 "it would be nice if the metaCreator was also the identity function if not specified"

[2017-01-10 04:38] #181 closed

[2017-01-11 04:57] neverfox commented on #177
@yangmillstheory But this is a problem in its own right, isn't it? What's happening is that the "strange" action is being handled in the tests by the last listed handler (in this case, the only handler). I can't think of a good, practical reason for that behavior. The only time a handler should activate is on a match and those certainly aren't matches. It would seem more sensible to return current

[2017-01-20 16:33] faceyspacey opened #183 "Anyone have any Flow definition files for redux-actions (perhaps just partial ones we can build from)?"

[2017-01-20 23:30] joetidee opened #184 "Not understanding the purpose of redux-actions..."
Apologies, but it's not obvious to me what the redux-actions package does. For example, I currnelty create my actions like this:

[code]

So how does this package improve on this?

[2017-01-21 01:17] jkusachi commented on #184
When you're working with Redux, you're going to have many actions, with different shapes

Because of this, @acdlite proposed flux standard actions (FSA) - https://github.com/acdlite/flux-standard-action

As stated, "It's much easier to work with Flux actions if we can make certain assumptions about their shape"

Regarding redux-actions, it does what it says it does: "Wraps an action creator so tha

[2017-01-21 21:20] faceyspacey commented on #183
I've created the following module definition for `createAction`:

[code]

And I've noticed a major issue I described on StackOverflow:

http://stackoverflow.com/questions/41784525/exported-typed-functions-that-return-functions-should-not-require-the-returned-f

which is that you won't get the benefit of this type definition if you don't type the returned function. So the following won't work:

[co

[2017-01-21 21:36] faceyspacey commented on #183
Also, here's a version with the `payload` properly parameterized in return types:

[code]

Here's how you would use it:

[code]

[2017-01-22 02:51] xiaoke88 commented on #184
actionCreator factory like this
[code]

[2017-01-26 03:37] inxilpro opened #185 "handleAction always triggers if not FSA"
The code revert referenced in #177 results in `handleAction` always running the reducer if an action with no `type` is dispatched:

[code]

It seems to me that it should be:

[code]

…so that the reducer simply returns the existing state if no `type` is provided in an action.

[2017-01-26 04:54] inxilpro commented on #185
For anyone out there who's running into the same issue, a temporary fix is:

[code]

[2017-01-26 05:44] #184 closed

[2017-01-26 05:49] yangmillstheory commented on #160
90373795a0eee8970abaf8b4feae53f38a783d6c

[2017-01-26 05:49] #160 closed

[2017-01-30 12:28] pronebird opened #186 "Does not work properly with redux chrome extension"
Dispatch in redux panel gives some sort of crippled suggestion for action. Is there any way to support a nice display with arguments etc...? as if we used normal function.

<img width="635" alt="screenshot 2017-01-30 12 26 44" src="https://cloud.githubusercontent.com/assets/704044/22423027/908417cc-e6e7-11e6-8f21-a471fe8a1053.png">

[2017-01-30 19:41] babsonmatt opened #187 "Catch all handler?"
I'm looking to create a catch all handler, similar to a default behavior in a switch statement, is there a way to do this? Apologies if this is obvious or I'm going about this wrong!

Thanks!

[2017-01-31 02:08] yangmillstheory commented on #187
I think you're going about this in an unconventional way.

https://github.com/reactjs/redux/blob/master/docs/basics/Reducers.md

[2017-01-31 02:08] #187 closed

[2017-01-31 03:38] babsonmatt commented on #187
@yangmillstheory thanks for the reply, just to clarify... how would you replicate something like this with redux-actions, or this is not a valid use case?

[code]

[2017-02-02 21:42] joncursi opened #188 "handleActions: Return current state if no actions match?"
Here's a vanilla reducer that returns the current state when no actions match the switch:

[code]

From what I see in the docs, it is unclear if handleActions has this ability baked in or if it is missing (the ability to define this default case behavior). Thoughts?

[2017-02-03 06:46] yangmillstheory commented on #188
https://github.com/acdlite/redux-actions/blob/master/src/handleAction.js#L27

[2017-02-03 06:46] #188 closed

[2017-02-04 07:35] just4fun commented on #181
I'd also like `metaCreator` will be identity function if not specified, since sometimes I want to pass some data as meta, not payload.

Finally I found `identity` function which provided by lodash will only return first argument it receives, so I think keep `metaCreator` with no default function is better.

Here is my code.

[code]

[code]

[2017-02-07 06:53] vansosnin commented on #178
Ping. Are you aggree with my proposal? I can do a pull-request.

[2017-02-07 21:55] yangmillstheory commented on #178
I'm not sure this is a good idea:

https://github.com/reactjs/redux/issues/1189#issuecomment-168025590

This is from the creator of Redux; I think it's saying that what you're proposing  goes against design.

[2017-02-08 17:18] vansosnin commented on #178
Thank you for the answer.

[2017-02-08 17:18] #178 closed

[2017-02-10 11:07] pronebird opened #189 "Error in payload?"
Hi,

In documentation you mention that if Error object is passed to action then it's returned back + error field is set to true. Could you elaborate on use case?

[code]

[2017-02-11 06:28] pocesar opened #190 "Weird interaction with react-router-redux"
I found that, when using `handleActions` and `combineReducers` alongside react-router-redux, the initial state coming out as `{ routing: [Object] }`

Upon investigating further, `handleActions` will only return the `initialState` if the current `state` is `undefined`, but react-router-redux is setting it to `{ routing: [Object] }`

react-router-redux triggers a dispatch with `{ type: '@@router/LOC

[2017-02-11 18:01] yangmillstheory commented on #190
Can you post a minimal code example illustrating your point?

[2017-02-11 20:22] pocesar commented on #190
[code]

[2017-02-11 23:43] yangmillstheory commented on #189
The use case I'm thinking of is reducing the state according to the information present in the error (which can vary by error received for a given action).

The example above is contrived, but you can imagine reducing state differently based on failed XHR calls (400 vs. 401 vs. 404 vs. 500). Thoughts?

[2017-02-11 23:47] yangmillstheory commented on #190
https://github.com/reactjs/redux/blob/master/src/createStore.js#L28

Your `initialState` (`preloadedState` from the point of view of `createStore`) is missing the `routing` key. I'd start investigating from there.

By the way, whenever you populate `preloadedState` (as you're doing), you can generally expect it to override default reducer state (https://github.com/acdlite/redux-actions/issues/178#

[2017-02-11 23:55] pocesar commented on #190
after checking the source for redux-actions I noticed that the members of the parameter passed to `handleActions` aren't exposed. if it would have it set to `Object.defineProperty` with enumerable true, it would work as intended (with the spread operator), like this:

[code]

I can make a PR for it to work out of the box if it's interesting, otherwise I'll just hack my away

[2017-02-12 00:05] yangmillstheory commented on #190
If you can accomplish what you can without too much code, I'd just advise doing that. In your case, I guess I'd have a subreducer for `access`, export that, and use the standard convention of

[code]

Not sure where you get `router` from, but presumably from `react-router-redux`.

[2017-02-13 16:09] codeaid commented on #47
What about replacing `make` with `get`?

- `getActionCreator`
- `getActionCreators`
- `getReducer`
- `getReducers`

[2017-02-14 00:14] joetidee commented on #184
Does it allow you factor in asnyc calls, such as:

[code]

[2017-02-14 02:17] yangmillstheory commented on #184
No, I'd suggest looking at redux-thunk or redux-saga for that. This library is primarily concerned with:

- mitigating typical boilerplate associated with Redux apps
- adhering to and supporting the Flux Standard Action spec

[2017-02-14 17:03] ronaldheft commented on #185
Agreed on ignoring actions without a type.

I test all my reducers' default state by passing an empty action, and I've had to go through my tests and change them to use an invalid/unknown action instead.

[2017-02-15 21:52] joetidee commented on #184
So if you use redux-actions, you cannot perform async actions?

[2017-02-16 07:31] Khorkhe opened #191 "action types as "export const""
I'm playing around with redux actions before deciding on integrating it with my project, and ran into the following: the createActions and handleActions functions take an object, (k, v) pairs.

previously, each action was defined as a const and exported. but the keys of the object in the two functions above cannot be variables.  so am i constrained to using strings if i want to use redux actions?

[2017-02-16 07:43] yangmillstheory commented on #191
You can use ES6 computed object properties.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#Computed_property_names

[2017-02-16 07:43] #191 closed

[2017-02-16 08:01] Khorkhe commented on #191
@yangmillstheory very nice, thank you

[2017-02-16 09:18] Khorkhe opened #192 "createActions exports function as undefined"
I am defining the actionCreators below:

[code]

and somewhere else import as follows:

[code]

here's the logging output in the console, all the methods are defined except authenticate:

![console_output](https://cloud.githubusercontent.com/assets/4688418/23014754/1d85c2c4-f3e5-11e6-815b-d991ea603a2e.png)

Any ideas? I'm running out, all other functions are working flawlessly.  Here's more workin

[2017-02-16 18:01] Khorkhe commented on #192
oh wow. it seems the issue is just that the exported function must be camelCased...

[2017-02-16 18:01] #192 closed

[2017-02-17 13:53] jfpalacios opened #193 "Initial state conflicting with preloadedState argument in createStore"
I am hydrating store with preloadedState argument and would like to listen to the @@redux/INIT event's state object that is being passed so I can merge defaults from handleAction's initial state with @@redux/INIT event's state. maybe initial state could also be a function and we can handle this there? Currently initial state is overwritten by preloaded state.

[2017-02-20 18:46] renato commented on #159
I'm using a custom solution that works for me, but it would be better if something "official" was supported. Are you going to support something like this or userland custom solutions are good enough?

[2017-02-20 20:11] yangmillstheory commented on #159
I'd like to get this into core; userland code like what I linked to above is a bit awkward. I'll submit a PR this weekend.

[2017-02-24 22:02] mattwigway opened #194 "When passing Error as payload, payload creator not called"
I have an action to handle putting an error message in the state for presentation to the user. I want to be able to call it with either a textual error message or a Javascript `Error` object; I want to normalize the arguments to the action creator before returning the action to be sent to the reducer. It seems like a payload creator within `createAction` would be the ideal way to do this. However,

[2017-02-25 20:57] #190 closed

[2017-02-25 20:58] yangmillstheory commented on #193
This is by design (Redux) See: https://github.com/acdlite/redux-actions/issues/178#issuecomment-278153518

[2017-02-25 20:58] #193 closed

[2017-02-25 21:01] #189 closed

[2017-02-25 21:03] yangmillstheory commented on #194
Pretty sure this is intended: https://github.com/acdlite/redux-actions/blob/master/src/createAction.js#L24.

Also see: https://github.com/acdlite/redux-actions/issues/82

[2017-02-25 21:03] #194 closed

[2017-02-25 21:07] #185 closed

[2017-02-25 21:09] yangmillstheory commented on #185
Thanks: https://github.com/acdlite/redux-actions/releases/tag/v1.2.2 :beers:

[2017-02-26 05:13] tugorez opened #195 "does redux-actions support prefixing types?"
Hi everyone, I'm trying to figure out if something like this is currently possible with redux-actions:

[code]

and if not, might i know why? Thank you for your time :)

For example, [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate/blob/master/app/containers/HomePage/constants.js#9) endorses the fact of prefixing types to prevent unwanted behavior in reducers.

[2017-02-26 07:34] yangmillstheory commented on #195
Take a look at https://github.com/acdlite/redux-actions/issues/159. I'll get this in tomorrow.

[2017-02-26 07:34] #195 closed

[2017-02-26 07:34] yangmillstheory commented on #159
I'm proposing something like https://github.com/yangmillstheory/redux-nested-actions/blob/master/src/index.test.js; planning on getting this in tomorrow.

[2017-02-26 08:35] tugorez commented on #195
@yangmillstheory  I did a [module](https://github.com/tugorez/redux-actions/blob/master/src/index.js) that wraps createAction ( I just did it for fun, It is really limited and just works in the case you use createActions with literal types).
If there is something I could help you with, please tell me.

[2017-02-26 19:03] yangmillstheory commented on #195
No problem. See this comment: https://github.com/acdlite/redux-actions/issues/159#issuecomment-282538877

[2017-03-01 04:01] amit1911 opened #197 "handleActions returning defaultState even when state passed is not undefined"
[code]
The first console statement returns the defaultState which is `['red']` whereas the second console statement returns `undefined` even though they both respond to the same action and have same action handling logic.  Can someone tell me why is this happening?

[2017-03-01 04:52] yangmillstheory commented on #197
I can't reproduce this. Here's the (full) code snippet:

[code]

And though I don't think it matters:

[code]

[2017-03-01 05:04] amit1911 commented on #197
That's weird. I can easily reproduce this on http://requirebin.com/

[2017-03-01 05:42] yangmillstheory commented on #197
[code]

Expected in both cases since `action.payload.a` is truthy (although I'm not sure why you're returning undefined; state shouldn't be undefined).

If I changed the `undefined` return value on requirebin, I get correct output:

![image](https://cloud.githubusercontent.com/assets/2729079/23447294/d2b22854-fdfe-11e6-9653-5a11c2fb0c73.png)

I can repro this on requirebin. Bug on their end?

[2017-03-01 07:01] amit1911 commented on #197
I am not actually returning `undefined`. This was a bug I found in the code and while I was fixing it, I thought that it should have broken my application but somehow it didn't. Then I investigated and found this issue.

You mentioned that you get correct result when you use some valid value instead of `undefined`. Does this mean you can reproduce the bug on requirebin as well? I am also getting c

[2017-03-01 07:24] yangmillstheory commented on #197
In node,  get the correct result either way. I suspect i'll be the same if I use Babel. I think the issue is with requirebin.

[2017-03-01 07:44] amit1911 commented on #197
I am using Babel and still facing this issue and I don't think this should be an issue with requirebin.com either as they are just loading the module and it seems to be working correctly for all the other cases. This is so strange. Maybe we should re-open this issue and see if someone else has any comments on this as well.

[2017-03-01 07:50] yangmillstheory commented on #197
Can you post a repo with a minimal working example in Babel?

[2017-03-01 08:43] amit1911 commented on #197
I have uploaded the project to [http://www.filedropper.com/redux-actions-bug-197](url). I used the google starter kit for this [https://developers.google.com/web/tools/starter-kit/](url).
Follow the steps to reproduce the bug:-
1. Download the project at the above link.
2. Run npm install
3. Install browserify globally. `cd` into `app/scripts/` directory and run `browserify index.js -o bundle.js`

[2017-03-03 02:48] amit1911 commented on #197
@yangmillstheory were you able to reproduce the issue by following the above steps?

[2017-03-03 02:51] yangmillstheory commented on #197
Sorry, let me try now.

[2017-03-03 02:52] yangmillstheory commented on #197
Your link above is broken by the way.

[2017-03-03 03:02] amit1911 commented on #197
looks like Filedropper only keeps the link active for some time. I am having trouble uploading my zip file to github directly. Lemme try something else.

[2017-03-03 03:03] yangmillstheory commented on #197
No - the markdown link syntax you used is incorrect.

***

So, I can reproduce the issue, but again, I don't think this is a bug in this library. Something strange is going on in the starter kit you're using (`gulpfile.babel.js` is 256 lines long, e.g.).

You might want to browse the tests and source code here for assurance. https://github.com/acdlite/redux-actions/blob/master/src/__tests__/handle

[2017-03-03 03:17] amit1911 commented on #197
sorry i cannot see your example above; some markdown issue.
The above test case only guarantees that if the initial state passed to the reducer is `undefined` then it should return the `default state`...but there is no test case that guarantees that if reducer returns `undefined` then it should be left untouched and not return initialState.
i'll try to verify this by adding a test case for this ra

[2017-03-03 04:09] amit1911 commented on #197
Just verified the bug by adding the following testcases
[code]
The first test cases passes and the second one fails

[2017-03-03 04:25] yangmillstheory commented on #197
Great! I stand corrected. What do the passing test cases look like?

I'm not sure what the behavior should be in this case. The signature of a reducer is `(state, action) => nextState`, and I'm not sure we should support reducers returning `undefined`; I'm doing research on that right now.

[2017-03-03 04:29] yangmillstheory commented on #197
Returning `undefined` doesn't seem to be sanctioned behavior: https://github.com/reactjs/redux/blob/920e72e9921e4e9157494e841f526021105a2c03/src/combineReducers.js#L12

[2017-03-03 05:14] amit1911 commented on #197
I agree with the fact the returning undefined isn't correct but that is not the only issue here. Another issue is that the two reducers above return different results. Both should either return `undefined` or both should return `defaultState`

[2017-03-03 06:12] yangmillstheory commented on #197
Care to submit a pull request?

[2017-03-03 07:35] amit1911 commented on #197
okay I'll try to work on this during this weekend.
I think we should open this issue now so that other people can offer help.

[2017-03-04 07:09] amit1911 commented on #197
The issue is not with this library, it's actually because of `reduce-reducers` which is being used by `handleActions`.
`reduce-reducers` reduces multiple reducers into one reducer by the following code
[code]
So the reason why test case A fails is because since the first reducer inside `handleActions` returns `undefined`, the second reducer will get `undefined` as the initial state and will return

[2017-03-04 18:06] #159 closed

[2017-03-05 02:57] renato commented on #159
Thanks @yangmillstheory, it's working great.

I had to change some dump actions that were in the array form (second createActions arg) to the object form but, after all, I think it was confusing to have these mixed configs.

[2017-03-13 09:41] tsarapke opened #199 "Namespace for reducers"
So, you have mentioned that there is available possibility to add namespace for action creators. Like below (for example):
[code]
But how I can create namespace for reducers, like for such trivial operations as CRUD. Example:
[code]
Is it possible to do with your utile? Thanks.

[2017-03-14 13:12] zeeshanjan82 opened #200 "Not Working in Server Side Rendering"
I am trying to implement server side rendering in my react app. I have the state defined in a separate js file as:
[code]
and in the other file I am combining the reducers as
[code]
but I am getting error:
[code]
Everything seems to be working fine in the client side when I don't use server side rendering but in case of serverside rendering I am facing this issue. Somehow the handleActions functio

[2017-03-15 07:16] 5argon opened #201 "Actions must be plain objects. Use custom middleware for async actions."
From what I read, this should work

[code]

But it returns
[code]

When I do
[code]

It returns
[code]
on the console. I expect it to be a FSA (like `{ type:'INCREMENT', payload: ...`) but seems like it is just a string so it is not a plain object. What could be the problem here? (I have not use any middleware yet) And I have no idea how this simple operation could pass the `isFSA` in the test..

[2017-03-15 17:13] JuoCode opened #202 "Create store failed when use handleActions with empty reducerMap"
I have a `todosReducer`:
[code]

Error message:
[code]

[2017-03-15 18:29] yangmillstheory commented on #202
I think this is a usage issue. Why is your reducer map empty? It should at least declare an action.

[2017-03-15 18:30] yangmillstheory commented on #201
`createAction` creates an action creator. Check the README and #47.

[2017-03-15 18:30] #201 closed

[2017-03-16 13:46] akomm commented on #199
Since handleActions simply creates a reducer, you can use combineReducers from 'redux' package:

[code]

Obviously combineReducers also creates a reducer, so you can nest it deeper if you need to.

[2017-03-17 08:27] akomm commented on #199
There is a possibility to group reducers as you want using combineReducers from "redux" npm package. The problem is the action identity when you reuse reducers. You also have to duplicate-namespace actions.

Even though often you have "1:1 relation" between action/reducer, by design reducers can act on any action. You could make special factories which could generate what you want. But any approac

[2017-03-17 10:28] tsarapke commented on #199
@akomm Thanks for your attention and explanation. "redux-form" architecture is suitable solution for me. Will investigate its principles of work.

[2017-03-17 10:37] akomm commented on #199
Before you go to much into the docs of redux-form - just to solve this problem - give your actions an additional namespace payload variable and let the reducer write state nested inside a key from that payload variable.

[2017-03-17 10:43] tsarapke commented on #199
@akomm Thanks again. I'll try it. Also I've found [multireducer](https://github.com/erikras/multireducer) library. Seems it's like that I'm want and looking for.

[2017-03-17 13:23] akomm commented on #199
This does exact that mapping key mapping I was talking about :)

[2017-03-17 14:25] yangmillstheory commented on #199
Thanks @akomm

[2017-03-17 14:25] #199 closed

[2017-03-20 11:16] webholics commented on #202
I don't think this issue should've been closed.

handleActions should break if it gets an empty object as first parameter. But currently it breaks because in this case it does not return the initial state anymore. To me this is clearly a bug.

[2017-03-20 15:32] yangmillstheory commented on #202
Good point. PR welcome.

[2017-03-21 03:14] leonardokl opened #204 "Missing handleAction example with a reducer function in README"
After that section there isn't an example of handleAction usage with a reducer function

[code]

[2017-03-31 08:02] gouegd commented on #184
An action is just a JS object with a `type` property and perhaps others. So there's no "async action" but you can create actions asynchronously.

You can do it manually or with the helpers that @yangmillstheory noted above.
`redux-thunk` lets you create actions based on other actions.
`redux-promise` lets you create actions based on promises.
`redux-saga` works with generators and can replace both

[2017-04-15 18:38] schuma7 opened #207 "Missing Object.assign polyfill for IE"
I added redux-actions to my current Next.js project and noticed that the app was not working on IE10 and 11 anymore. Apparently this is due to the usage of Object.assign which needs to be polyfilled for Internet Explorer. I quickly wanted to ask if you have any plans of adding support for newer IE browsers by adding the necessary Babel transforms to the project?

[2017-04-15 18:46] schuma7 commented on #207
My apologies, been coding for too long today, the issue was coming from another library that we recently added.

[2017-04-15 18:46] #207 closed

[2017-04-16 21:07] #202 closed

[2017-04-18 08:56] albertogasparin opened #208 "Version 2.0.2 with lodash-es added 7kB to the bundle size"
I read that the reason to switch to `lodash-es` was that few other libs use this version. However, let me highlight that for people like me that use `lodash` (as the majority of Lodash users based on npm stats) this change increased the build size by 7kB (minified).
Moreover, looks like `babel-plugin-lodash` and `lodash-webpack-plugin` have no effect on `lodash-es`.
As `lodash@5` will probably mak

[2017-04-18 17:28] yangmillstheory commented on #208
@webholics can you respond?

[2017-04-18 17:29] yangmillstheory commented on #208
@albertogasparin I should have researched this further. If you could post some convincing statistics, I'd be happy to revert. In general, it would be great to have more active participation in PRs (anyone can comment I believe), since front-end is less of a focus for me these days.

[2017-04-18 21:34] jaridmargolin commented on #208
@yangmillstheory - this is absolutely a beneficial technique accepted by the community.

redux, redux-react, redux-persist, etc (there are more) all use this technique, and being able to share methods with them WILL reduce package size. Some back story on the issue can be found here: https://github.com/reactjs/redux/pull/1369

@albertogasparin - Sorry that the change has temporarily increased your

[2017-04-19 15:08] albertogasparin commented on #208
I don't know about all other libs, but both redux and react-redux are using a single lodash method (`isPlainObject`). For people not using lodash at all, the es-version is smaller than the standard one and for people using it the additional cost is ~500B, so negligible.

redux-actions on the over side uses several lodash methods, so the amount of duplicated code jumps to nearly 7kB (worst scenario

[2017-04-19 15:08] #208 closed

[2017-04-19 15:33] jaridmargolin commented on #208
@albertogasparin I do appreciate your perspective andI think it is great to have a track record for anyone else who bumps up against this. I saw around a 6KB reduction in my case. This solution provides the opportunity for people utilizing additional libraries to notably cut down on unnecessary bloat.

I am by no means the MOST qualified to speak on the pros/cons of the technique. @jdalton - Do yo

[2017-04-19 16:26] jdalton commented on #208
if the versions of both `lodash` and `lodash-es` are `^4` then you should be fine as the `lodash-es` package is just the `lodash` one with import/exports. I know @TheLarkInn has done some work to consolidate `lodash` and `lodash-es` and other packages into a single set.

[2017-04-20 18:07] sayll opened #209 "Invalid regular expression:"
## deploy ： //  "NODE_ENV": "production"
Do not know why？
![image](https://cloud.githubusercontent.com/assets/18632641/25245420/e7ba0086-2636-11e7-815f-e594a64e9b0a.png)

[2017-04-20 18:25] yangmillstheory commented on #209
Probably coming from https://github.com/acdlite/redux-actions/blob/master/src/camelCase.js. Can you start from that point?

[2017-04-20 19:05] sayll commented on #209
thanks.
Missing  ！！  ` <meta charset="UTF-8">` ........

[2017-04-20 19:05] #209 closed

[2017-04-27 11:42] vtvz commented on #23
Solution:

[code]
[The reason why this happens](https://github.com/acdlite/redux-actions/blob/master/src/handleAction.js#L14)

[2017-05-06 21:39] rsnara commented on #151
Is anyone actively working towards this goal?

[2017-05-14 09:45] huangc28 opened #212 "Can't pass object as the parameter into action creators created by `createActions` function."
I found issues when trying to pass object as parameter into action creator using following code:

[code]

When I did so, I got following error:

[code]

I want to be able to pass in object as parameters like I did when using ordinary action creator like so:

[code]

so I can have extra flexibility manipulating the parameters pass into the action creator.

Is there any other way that I'm able to ac

[2017-05-14 21:19] yangmillstheory commented on #212
Can you show how `getIdeas` is being used and called?

[2017-05-14 21:23] yangmillstheory commented on #212
Modifying https://github.com/acdlite/redux-actions/blob/45c3a78270eccb1e92f8a07564f66232cd7a734c/src/__tests__/createActions-test.js#L85 with

[code]
passes, so I have to think it's an error in your code.

[2017-05-15 04:20] huangc28 commented on #212
@yangmillstheory, Thanks for you fast reply.

The following code is how I dispatch action creator in the component:

[code]

and this is my action creator

[code]

Im expecting to get an action creator with a format like:

[code]
but am still getting error stated in the first post.

[2017-05-16 02:41] yangmillstheory commented on #212
This should work based on https://github.com/acdlite/redux-actions/issues/212#issuecomment-301340967, can you post the full stack trace? Where is the error (line of code) being thrown? What happens you set a breakpoint in the browser debugger?

[2017-05-18 17:48] krawaller commented on #84
One year late to the party, but: I've used and appreciated @leonyu's setup for a while now (thank you!!). Partly because of how nice it plays with TypeScript, but I also prefer that pattern over the regular one in `handleActions`.

Not saying it is justified adding it to the package though, I do understand @alexgorbatchev's hesitation.

If anyone like me stumbles across this PR in search of some T

[2017-05-21 08:44] burrack opened #213 "How to set a custom meta property ?"
I saw this [issue](https://github.com/acdlite/redux-actions/issues/3) is already closed, so I decided to write a new one.

This is nice:
[code]
But I want to be able to dispatch a custom meta data.
i.e:
[code]
Is there any plan to add this functionality ?

Thanks!

[2017-05-21 22:02] yangmillstheory commented on #212
Closing due to lack of response.

[2017-05-21 22:02] #212 closed

[2017-05-21 22:17] yangmillstheory commented on #213
Wouldn't something like https://github.com/acdlite/redux-actions/blob/master/src/__tests__/createAction-test.js#L62 work? Modifying it to

[code]

passes.

[2017-05-21 22:17] #213 closed

[2017-05-29 05:10] roboslone opened #215 "Allow nested reducers in handleActions"
It was really surprising for me that `createActions` can handle nested objects while `handleActions` can't. I think this example looks very natural and readable:
[code]

But it doesn't work. Instead `reducer` must be:
[code]

My IDE autocompletes with first example and doesn't with the second.

Would it be possible to allow such nested structures in `handleActions`?

[2017-06-08 10:56] roboslone commented on #215
ping

[2017-06-09 02:55] yangmillstheory commented on #215
That sounds reasonable; feel free to take a shot at a pull request. I would ask that you preserve backwards-compatibility as well. I believe the key algorithm is already in this library. What do you think of taking up this work yourself?

[2017-06-09 06:24] roboslone commented on #215
Not sure if I'm up to the task, I have little experience with JS =/

[2017-06-14 04:16] homs44 opened #217 "’ (apostrophe) in var "wordPattern" Issue"
Hi.  I am developing  web application with this library.  and I use AWS S3 for website hosting

My app occur Error in IE. the error is related with regex

after new minutes. I realized that S3 change ’  to â€™ in var "wordPattern"

var wordPattern = /[A-Z\xc0-\xd6\xd8-\xde]?[a-z\xdf-\xf6\xf8-\xff]+(?:['’](?:d|ll|m|re|s|t|ve))

below is in S3
var wordPattern = /[A-Z\xc0-\xd6\xd8-\xde]?[a-z\xdf-\xf6

[2017-06-14 05:03] yangmillstheory commented on #217
Can you reproduce this by uploading a small text file to S3? Are you sure whatever build tool you're using isn't responsible?

[2017-06-14 05:15] homs44 commented on #217
yeah. I uploaded JS file and other text files with same content
The JS file is only changed.

[2017-06-14 05:52] yangmillstheory commented on #217
Take a look at https://stackoverflow.com/a/34947592/2419669; this is an encoding issue.

[2017-06-14 05:52] #217 closed

[2017-06-14 06:05] homs44 commented on #217
Thank you!

[2017-06-25 17:40] yangmillstheory commented on #152
Does anyone want to help out with this? Would be greatly appreciated, as the README is getting rather long and unruly. Perhaps we could use something like https://github.com/blog/2233-publish-your-project-documentation-with-github-pages?

[2017-06-27 04:30] ohtangza opened #219 "How can I use auto-complete for action creator's parameters?"
When we manually create the action creator, most of the editors (like VSC) automatically displays the type and name of the parameter variable.

However, if we use `redux-actions`, the name of parameters are all unified into `payload` which is difficult to interpret during development.

- Is there any way I can add JSDoc comment on created actions creators?
- Is there any way I can use TypeScript o

[2017-06-28 02:13] vinnymac commented on #152
@yangmillstheory I can take a swing at it. I would like to use gitbook if possible to stay consistent with `redux` and `redux-saga` documentation.

[2017-06-28 02:21] yangmillstheory commented on #152
Thanks. Would you mind if I threw #172 and #204 in there as well? These are documentation-related issues. Completely on board with your proposed implementation.

[2017-06-28 03:28] JasonKid opened #220 "Recursive structure for createActions supports identity functions"
When using `createAction`, we can leave the `payloadCreator` param undefined to make redux-actions use identity function as default.

But in recursive structure of `createActions`, i set the value undefined, it get's error:
[code]

The code is:
[code]

I think the recursive structure should support undefined value to use identity function for default.

[2017-06-28 03:58] yangmillstheory commented on #220
Good catch. Want to own this?

[2017-06-28 04:29] JasonKid commented on #220
OK, i will do it.

[2017-06-28 14:01] vinnymac commented on #152
@yangmillstheory sure, I will make a PR of all the goals and start on it today.

[2017-06-28 22:49] vinnymac commented on #172
@amit1911 @yangmillstheory this is expected behavior due to the transform in the sample code.
<img width="528" alt="screen shot 2017-06-28 at 6 47 49 pm" src="https://user-images.githubusercontent.com/1832781/27663859-57336ab6-5c32-11e7-9bcf-a3427623bfcb.png">

This is the part of the documentation that explains why this happens
[code]

I think this should be closed.

[2017-06-29 07:54] rhys-vdw opened #223 "Using `babel-plugin-lodash` with redux-actions"
It looks to me as though this project could be used in conjunction with `babel-plugin-lodash`.

If this is intentional, then perhaps your README could also contain [this section from recompose](https://github.com/acdlite/recompose#using-babel-lodash-plugin).

[2017-06-30 16:41] JuliusKoronci opened #224 "createActions is converting constant names to camel case"
I am not sure if this is intended but it cause as quiet a bug which was hard to find. We used the reducer name stored in a constant to create actions..and later on in the app we built upon the constant..one of my colleagues changed the constant from partnerCrud to partnerCRUD..since we were expecting the actions created to be partnerCRUDAction we were created a quiet big bug in the application..wh

[2017-07-01 15:38] yangmillstheory commented on #224
This is intended, based on the Redux naming conventions for actions. See https://decembersoft.com/posts/a-simple-naming-convention-for-action-creators-in-redux-js/.

[2017-07-01 15:38] #224 closed

[2017-07-01 15:42] yangmillstheory commented on #223
Are you suggesting that we use `babel-plugin-lodash`?

We're using https://github.com/acdlite/redux-actions/blob/master/.babelrc#L9 currently; I'm not sure what the difference is.

[2017-07-01 15:43] yangmillstheory commented on #219
Not sure, I don't use really use either. Let me know what you find out.

[2017-07-01 15:47] yangmillstheory commented on #172
Thanks @vinnymac

[2017-07-01 15:47] #172 closed

[2017-07-01 17:18] #220 closed

[2017-07-01 22:13] djake opened #225 "ES6 defaults"
Would you be amenable to altering, eliminating, or making optional the defaultState invariant check in [handleAction](https://github.com/acdlite/redux-actions/blob/master/src/handleAction.js#L12) so that we can set the default state parameter in the reducer function definition instead?

[2017-07-01 22:24] yangmillstheory commented on #225
Not without reason, I guess. Is there a good reason to change the behavior?

[2017-07-01 23:04] djake commented on #225
The reason I would like to change it (you'll have to tell me if it's good) is that I prefer
`handleAction(MY_ACTION, (state = '', action = {}) => action.payload.someProp`
to
`handleAction(MY_ACTION, (state, action) => action.payload.someProp, '')`. And, I have tests for the undefined case for reducers so this check is all dead weight for me at the moment.

I think the only way to preserve the inte

[2017-07-02 02:23] yangmillstheory commented on #225
Are you testing the reducer function parameter to `handleAction`, or the output of `handleAction` itself. Either way, I think if there's no strong case to make this change, we should just leave it as is. The change would also impact https://github.com/acdlite/redux-actions/blob/a0a9f00246c7e760bd1dfc6a630652c1520bb2b3/src/handleActions.js#L7.

IMO it's good to have `defaultState` as a required par

[2017-07-02 02:23] #225 closed

[2017-07-02 04:55] djake commented on #225
Ok. Thanks for the quick replies!

[2017-07-02 12:58] ohtangza commented on #219
@yangmillstheory Our team decided to use only handleActions() for now. Removed all the createAction() because we cannot take advantage of all the linter function.

[2017-07-02 12:58] #219 closed

[2017-07-02 21:34] #215 closed

[2017-07-03 05:49] #204 closed

[2017-07-03 05:49] #152 closed

[2017-07-03 10:21] roboslone commented on #215
@zcei @yangmillstheory Thanks!

[2017-07-05 02:11] rhys-vdw commented on #223
No, sorry. I'm suggesting that because you have your file structure like this:

[code]

Consumers of your library can take advantage of this by using `babel-plugin-lodash` to reduce build size by transforming their source from:

[code]

to

[code]

[2017-07-05 02:13] rhys-vdw commented on #223
(Although you could use babel-plugin-lodash internally instead of the custom lodash-es loader you've got, that's a separate issue that I have no opinion on)

[2017-07-09 04:04] tech-a-go-go opened #228 "handleActions doesn't work..."
Hi there,

I'm stuck on using handleActions.

This snippet works well.

[code]
But this one doesn't work.
[code]

And this works...

[code]

Can anybody tell me what is wrong with the second one ???
Please please help me out.
I've been wondering for 4 hours !!! :(

Here is initialState
[code]

Thanks

[2017-07-12 12:55] abraztsov opened #229 "Redux middleware with Redux actions"
Why `react-actions` return object with value and payload Instead of returning just payload ?

[code]

expected just `MYDATA` without returning whole object with `type`

[2017-07-12 13:24] timche commented on #229
It's a [Flux Standard Action](https://github.com/acdlite/flux-standard-action). This library is based on that.

[2017-07-12 13:51] #229 closed

[2017-07-12 20:39] dannycochran opened #230 "handleActions return Typing for functions not respected"
It looks like functions in handleActions aren't properly propagating the Generic type passed in, for instance:

[code]

The value return from the SOME_ACTION function should give a Typescript warning but it's not, unless you specifically type the return type in the reducer function. Looking at how handleActions is typed, though, I'm not sure why this is happening:

[code]

It seems like "MyInterfa

[2017-07-13 19:26] pho3nixf1re commented on #194
I just wasted half a day on this. Why are error's handled differently from any other data passed into the action creator? Isn't an Error object perfectly valid to be used to format a payload?

[2017-07-18 06:25] showmeyourhits opened #231 "Should i test action creators created by createAction?"
Howdy.

I don't know where else to ask, so i'll ask here:

For example, i want to have action creator, that adds apple to the basket. So i write this code:

[code]

Should i have tests for it? Something like that:
[code]
It seems to me, that this is monkey business: copying and pasting type constants, writing same tests for every action creator (dozens of them in my current projects). But on other

[2017-07-18 07:05] showmeyourhits commented on #228
Second variant mutate your state.
Object.assign doesn't merge object deeply:
[code]

Don't mutate your data in react-redux apps. And use object destructuring, it much more convenient than Object.assign. Your reducer would look something like that:

[code]

[2017-07-18 09:45] timche commented on #231
Imo you should test action creators and your given example is the way to go. You are actually testing if your passed arguments, like `type`, `payload` function and/or `meta` function are working correctly.

[2017-07-19 01:28] JulioC commented on #183
I've updated your definition to use a template parameter for the payloadCreator arguments. So far it works better than original.

[code]

I've also included a (very badly defined) `handleActions`.

[2017-07-20 04:02] JulioC commented on #183
I just discovered [flow-typed](https://github.com/flowtype/flow-typed), which contains definitions for most libraries out there, including redux-actions.

[2017-07-21 13:47] ericdevries opened #232 "handleActions is broken"
After updating redux actions by accident, I found the following issue
https://github.com/lodash/lodash/issues/3271

Turns out the change that broke it is inside redux-actions. The offending line is https://github.com/acdlite/redux-actions/blob/758ad1004993f59bb826aa4b365d038239797cb0/src/handleActions.js#L13

The flattenedReducerMap iteratets over all the Reflect.ownKeys() values, which contains a

[2017-07-22 18:18] ElfenLiedGH opened #233 "handleActions resolve exceptions"
Exception havn't error message and action doesn't dispatch
[code]

[2017-07-25 23:55] tuneZola commented on #232
+1,
@ericdevries do you know the last working version?

[2017-07-25 23:55] tuneZola commented on #228
+1

[2017-07-26 00:14] kanitw opened #234 "Grammar typo in handleActions.js"
I was reading your readme.md in https://github.com/acdlite/reduce-reducers which point to this file

https://github.com/acdlite/redux-actions/blob/master/src/handleActions.js#L11

I guess this should be "a plain object"?

I hope this is helpful! :)

[2017-07-26 00:49] yangmillstheory commented on #234
It's helpful, a PR would be more helpful

[2017-07-26 00:50] yangmillstheory commented on #232
Sounds good; care to submit a PR?

[2017-08-02 01:57] v07h4nhd47 opened #235 "No default return state for handle-action(s) of redux action"
Normally, in a reducer function,  we can change the default state of course. For example:
`export default function reducer(action,state){`
  `switch(action.type){`
  `  case ' ... ': return ..; break;`
   ` ...`
   ` default: return custom(state);`
 ` }`
`}`
how can we make this possible when implementing handle-action(s)?

[2017-08-02 06:16] timche commented on #235
This would be possible, yes.

Redux has been designed to return the previous state for any unknown action, so is redux-actions. It is not recommended to change the previous state in any way to avoid unintended side-effects.

[2017-08-02 06:16] #235 closed

[2017-08-10 06:30] flyjennyetn opened #236 "mapStateToProps get undefined"
entry.js
   import "babel-polyfill";
import React from "react";
import {render} from "react-dom";
import {browserHistory} from "react-router";
import {AppContainer} from "react-hot-loader";
import {syncHistoryWithStore} from "react-router-redux";
import Routes from "../app/Routes";
import configureStore from "../app/store/configureStore";
import SagaManager from '../app/sagas/'
import "react-fastc

[2017-08-21 02:06] Parakleta opened #239 "Add `null` handling to handleActions (consistency)."
Currently `null` is accepted as equivalent to `undefined` in `createAction(s?)`, and as the `next` and `throw` fields of `handleAction(s?)`, but not for use in `handleAction(s?)` directly.  Can this please be added for consistency.  See #169.

[2017-08-28 03:23] Parakleta opened #241 "`combineActions` incompatible with recursive `handleActions`."
When using the recursive form of `handleActions` it only attaches the current path to the first option from `combineActions`.  It needs instead to re-separate the combined actions and attach the path to each of them before re-joining them.

[2017-08-28 04:08] Parakleta commented on #241
Consider changing https://github.com/reduxactions/redux-actions/blob/4f6413ae1f4344350d1479446e8de4e8fa6d02d1/src/flattenUtils.js#L14-L18 to something like

[code]

[2017-09-13 11:06] gotrecillo opened #242 "Question: Handle action using a function instead of the type."
At the moment i have two types of reducers in my project. Ones using handleActions, but sometimes that is not enough because y respond to meta instead of the action type.

[code]

¿ would  allow handleActions to respond to that custom conditions based on a function be a welcome feature?

[2017-09-13 15:26] yangmillstheory opened #243 "Host redux-actions.js.org in https://github.com/reduxactions/"
Currently it's hosted on https://vinnymac.gitbooks.io/redux-actions/ cc: @vinnymac

[2017-09-13 15:32] yangmillstheory commented on #242
https://github.com/reduxactions/redux-actions/blob/master/src/handleActions.js#L17

`handleActions` just calls through to `handleAction`, so `meta` should be available to reducers defined there as well; see https://redux-actions.js.org/docs/api/handleAction.html#handleactions.

If you can't get it to work, feel free to post code and we can work through it together.

[2017-09-13 19:08] gotrecillo commented on #242
I don`t need meta to act in the reducer i need to act.
I need to act based on meta and not based in type.

Look at the reducer I wrote, at the moment that can´t be done using ```handleActions```

[2017-09-15 20:03] vinnymac commented on #243
@yangmillstheory I gave you admin access on the gitbook. We can unlink it from my repo and link it to reduxactions/redux-actions or other, do you now have access to the settings page?

[2017-09-15 20:14] timche commented on #243
We have access now.

[2017-09-15 21:03] yangmillstheory commented on #243
Yep, we just need to find the time to actually do the migration. This issue
is just a placeholder.

On Fri, Sep 15, 2017, 1:14 PM Tim Cheung <notifications@github.com> wrote:

[2017-09-18 13:29] linusmartensson opened #244 "Thunk-interop?"
I may be missing out on something since I'm new to Redux and redux-actions in particular, but I wanted to use redux-thunk together with redux-actions for the concise specification of actions, and specifically async acctions, wherein a function is returned from an action creator and passed to dispatch rather than an action object.

Since createActions results in a function that returns {payload, ty

[2017-09-22 20:51] walleXD commented on #244
@linusmartensson you can use this middleware [fsa-redux-thunk](https://github.com/andrewzey/fsa-redux-thunk). Its makes sure all the actions are FSA compliant

[2017-09-26 12:34] mkascel commented on #232
@ericdevries I'm evaluating this lib for possible inclusion into a project; the linked lodash issue you created was closed with the author saying it might be due to local setup (babel plugin or the like).  Can you confirm if this is still an issue or not?  And if it is due to a babel plugin/version of a lib it would be good to know.

[2017-09-26 18:00] walleXD opened #245 "Reviving deprecated middlewares but bringing them under the new redux-actions organization"
Hi,

Big fan of redux-actions here and ever since I discovered it, I have never looked back at traditional redux setup. But the issue is that some of the middlewares which were originally published by @acdlite with redux-actions like [`redux-rx`](https://github.com/acdlite/redux-rx) hasn't gotten any updates and the version published in npm is broken as redux middleware api changed. A fix had been

[2017-09-26 18:04] yangmillstheory commented on #245
I think this is a question for @acdlite...cc @timche

[2017-09-27 17:20] ericdevries commented on #232
I spent a complete day finding out what it was, and after a complete re-install and reboot the problem disappeared, so I would like to think it was an error in my local setup.

[2017-09-27 17:23] #232 closed

[2017-09-27 20:57] Jeewes opened #246 "Choosing actions for reducer with regexp"
Normally you write something like:
[code]
So it picks a specific action type and handles it with specific reducer.

I'd like to be able to "catch" action types with regexp. For example, I want to handle every action type that ends with `_DONE` with a specific `successReducer`.

Don't see a way to do that with the current API. Should we implement something to enable such usecase?

[2017-09-27 20:59] yangmillstheory commented on #246
Have you tried combineReducers? Less permissive than a refex, but more intentional.

[2017-09-27 21:11] Jeewes commented on #246
Yes, but I'm looking for a more generic solution..

27.9.2017 23.59 "Victor Alvarez" <notifications@github.com> kirjoitti:

[2017-09-28 19:22] pepesenaris commented on #183
is anyone gettting `Computed property cannot be assigned with function type` flow errors when using the actions creators as keys?

[2017-09-28 20:39] EugeneZ commented on #183
@pepesenaris You can call `.toString()` explicitly on the action creator. It's not perfect but until the types are fixed it's good enough.

[2017-10-06 13:02] lsunsi commented on #148
Just wanted to contribute for this issue.

I think this change is good. I realize it violates reducer signature if the users use the additional arguments, but from what I can gather, this is a great way of passing global state as a read only to a slice reducer that can write to it's own slice.

The pattern seems fine and the change seems harmless, since it would change literally anything, it'll ju

[2017-10-10 10:51] Limycuk opened #248 "integration with redux-saga"
Hello,
i have redux-actions and redux-saga in one project
I tried to find way get string constant of action for saga subscription.
Could you help me?

[2017-10-10 13:53] yangmillstheory commented on #248
We don't support redux-saga, which is entirely different middleware.

I'm not sure what the use case is, but I think I'd advise standardizing on one middleware in your project; I've never a project that use both simultaneously, they have completely different philosophies and styles.

[2017-10-10 13:53] #248 closed

[2017-10-10 15:20] JoeHetfield opened #249 "How to express REQUEST / START action via redux-actions?"
Hi, guys

Say I got "load" action, which fetch some topics from remote. so the code would be:

[code]

I think it's good to have the result and error been dispatched with one action. but how about express the "Requesting" status with the same action ?  as the code above I didn't figure it out, so I have to made another action "fetchTopicsRequest()", this makes the whole code seems so weird.

From

[2017-10-23 12:57] macrozone commented on #121
just ran into it which froze react-native-debugger. Assuming identity function as default param is maybe not the best idea and can lead to this strange bugs. Not worth a breaking change, i agree. But something to re-consider if this library should ever get a new major version...

[2017-10-23 13:49] timche opened #251 "Looking for maintainers!"
Last year @yangmillstheory and I have jumped on this library to maintain and improve it, but since then, our activity has lowered due to other priorities or interests, so we don't work that much on this project anymore like we did in the past.

- Currently we have several open issues and pull requests which need to be handled.
- A new major version could be released that rewrites and improves the

[2017-10-26 19:20] showmeyourhits commented on #249
It depends on why do you need this `fetchTopicsRequest` action.
If you need to show loading animation/block inputs/other stuff in the component, that need requested data. In this case, it would be better, if you store request status in the component **state** - because no need for this status to be stored in Redux's **store** (only **one** component needs it).
You can do this like that:
[code]
If

[2017-11-01 13:14] hendrul commented on #246
This is an important feature, I need it to create generic handlers that manages all actions with type ending in some name

[2017-11-06 13:33] hendrul commented on #251
I'm interested

[2017-11-14 13:16] mraerino commented on #251
Could be wise to add a note about this in the Readme.

[2017-11-15 11:05] timche commented on #251
Thanks for the suggestion @mraerino.

@hendrul we'll come back to you asap!

[2017-11-15 23:49] hendrul commented on #251
Ok I'll wait

[2017-11-16 01:15] yangmillstheory commented on #251
Something else that should happen, and is pretty important, is moving the documentation site to be owned by this org (reduxactions). Write now I believe it's still under @vinnymac's Gitbook account which is a bit of a risk.

[2017-11-21 06:58] nimish-gupta commented on #251
I'm interested,

[2017-11-21 12:45] timche commented on #251
Thanks @nimish-gupta! I'll invite you two @hendrul and @nimish-gupta to the organisation.

[2017-11-21 12:45] #251 closed

[2017-11-23 14:13] timche commented on #251
@nimish-gupta and @hendrul. I've sent you an invite to access this repository. Please check your inboxes.

[2017-11-25 18:47] hendrul commented on #251
@timche I haven't received the email

[2017-11-26 16:58] timche commented on #251
Please check https://github.com/reduxactions/redux-actions/invitations

[2017-11-27 10:17] mxl opened #254 "Make handleAction defaultState optional or move it to a separate function"
In my opinion handling `defaultState` in `handleAction` function does not belong to core features of this module and `defaultState` parameter should be optional or its handling should be moved to separate function (`handleActionWithDefaultState`). Requiring it makes hard to decouple reducers definition from initial state definition.

Of course, in JavaScript I can simply pass `{}` as default state

[2017-11-27 12:47] mxl opened #255 "Passing Error to payloadCreator"
Currently it's not possible to pass `Error` object to `payloadCreator` because it's intercepted by [this line](https://github.com/reduxactions/redux-actions/blob/master/src/createAction.js#L14).

[2017-11-27 13:41] hendrul commented on #251
Ok ready! what else?

[2017-12-06 10:29] zaidchauhan commented on #251
@timche Do you still require volunteer?

[2017-12-12 18:52] JamieDixon opened #257 "Variant of createAction with curried payload creator"
There's often times we wish that we could partially apply the result of `createAction`. We want to bind some parameters to the action creator before the final action is constructed.

I've written up a rough implementation of how this could work and I'm happy to raise a PR for this if you're interested.

[code]

[2017-12-13 10:29] NE-SmallTown opened #258 "Async action can't be handle when use combineActions and async middleware"
In the [example](https://redux-actions.js.org/docs/api/combineActions.html):

[code]

But if our action creator is async(e.g. `INCREMENT: () => fetch('foo')`) and we use some middlewares like `redux-promise-middleware`, the `INCREMENT` will be split to three actions like `INCREMENT__PENDING`, `INCREMENT__FULFILLED`, `INCREMENT__REJECTED`, but the `combineActions` seems can't handle this scenario,

[2017-12-14 20:10] mslipper commented on #251
Happy to join in as well. Let me know.

[2017-12-18 09:10] stomvi opened #260 "No way to perform a custom merging with store's `preloadedState` over reducer's `defaultState`"
Am I missing something or there is still no way to customize init store by partially merge or fill server side or persistent storage data `preloadedState` into reducers' `defatulState`? For example, if I have a server-side data that is supplied to the store by `preloadedState`:
[code]
And the `defaultState` in reducers is:
[code]
What I like to have in my store after init is like this:
[code]

We

[2017-12-18 13:34] timche commented on #251
Sure @mslipper & @zaidchauhan! I'll invite you.

@mslipper would you mind if you could take over bit of a "lead role"?

[2017-12-18 20:16] mslipper commented on #251
@timche sure! Happy to do that. Will ping you with questions & permissions.

[2017-12-19 08:09] mslipper commented on #260
Hi @stomvi,

I've just been granted access to the repo and will start maintaining it going forward. I need a few days to get a clear understanding of the code and the project's roadmap. After that, I can answer your issue. Does this work for you?

[2017-12-19 08:10] mslipper commented on #258
Hi @NE-SmallTown,

I can look into this in a few days - I just got access to the repo and will start maintaining it going forward. I need some time to get an overview of the code and the roadmap first. Does this work for you?

[2017-12-19 14:22] NE-SmallTown commented on #258
Don't worry, it's fine :)

[2017-12-21 03:26] stomvi commented on #260
@mslipper, Yes and thank you. If I wasn't clear enough, the main goal of custom merging is in some cases that the server won't have to provide all the init state (I think most of the cases are) but the client-side code should have solid default state.

For example, a page that has a filter set with part of the filters contain their own default state. While working with router like `react-router`,

[2017-12-23 20:03] satispunk commented on #248
@yangmillstheory hi, your post confused me. What are those philosophies and styles?

IMO you can use sagas as side effect handlers and redux-actions to do other boilerplate stuff

[2017-12-28 23:58] mslipper commented on #258
Hi @NE-SmallTown,

I had a chance to look over the code. Here's what I suggest you do. Since `redux-actions` isn't aware of every middleware setup, try creating a utility function that maps the postfixed action names generated by your middleware to the same action creator. Something like this might work:

[code]

Then, in your action creator, you'd call `createActions` like this:

[code]

Your red

[2017-12-29 02:35] NE-SmallTown commented on #258
Thanks, looks good. I will try

[2017-12-29 02:35] #258 closed

[2018-01-11 13:40] michaelfriedman commented on #251
If you still need help, I'm willing.

[2018-01-11 14:49] timche commented on #251
@mslipper how are things going so far? @hendrul @zaidchauhan are you still available?

[2018-01-11 15:00] zchauhan commented on #251
@timche Yes, I am available.

[2018-01-11 15:00] zaidchauhan commented on #251
@timeche Yes, I am available

-----------------
Regards
Zaid Chauhan
Sr. Software Engineer

View My Profile on Linked In <http://in.linkedin.com/in/zaidchauhan>

On Thu, Jan 11, 2018 at 8:19 PM, Tim Cheung <notifications@github.com>
wrote:

[2018-01-11 15:01] michaelfriedman commented on #251
Yes sir, I’d be happy to put in some time. What could you use help with the most?

--

[2018-01-11 15:03] timche commented on #251
I think it would be helpful if you guys could connect somehow to organise.

Do you have Slack or Discord?

[2018-01-11 15:04] michaelfriedman commented on #251
I have both, do you have a channel or need to set one up?

--

[2018-01-11 17:37] mslipper commented on #251
@timche I'm putting together a roadmap to determine where to take the framework next. Rather than Slack and Discord, might I suggest Gitter? Should be easy enough to create one.

[2018-01-11 17:43] michaelfriedman commented on #251
Works for me!

--

[2018-01-11 17:52] timche commented on #251
I've created a room on Gitter: https://gitter.im/redux-actions/Lobby

[2018-01-15 16:13] rqrqrqrq opened #263 "`prefix` option for `createActions`"
As I know there are a lot of folks writing something like this following [ducks proposal](https://github.com/erikras/ducks-modular-redux):
[code]
This looks kinda hacky. Can we consider adding `prefix` in `options` for `createActions` to handle this common case?
[code]
Will create pull request if this will be helpful.

[2018-01-15 17:15] mslipper commented on #263
This is a great idea. Please open a PR and I'll review.

[2018-01-15 18:29] #257 closed

[2018-01-16 03:59] mslipper commented on #151
I can take a crack at this.

[2018-01-16 04:00] mslipper commented on #249
@JoeHetfield closing this due to inactivity. Please reopen if you need any further help.

[2018-01-16 04:00] #249 closed

[2018-01-16 04:00] mslipper commented on #236
@flyjennyetn, I'm closing this due to inactivity. Please reopen if you still need help.

[2018-01-16 04:00] #236 closed

[2018-01-16 04:02] mslipper commented on #234
Closing this since the issue is fixed.

[2018-01-16 04:02] #234 closed

[2018-01-16 04:21] mslipper commented on #231
This is one of those things that boils down to personal taste. Some folks strive for 100% test coverage, some don't. @timche's answer is correct if you want 100% test coverage.

The goal of having unit tests is to enable quick verification that your code works and allow for less error-prone refactoring. In your case, I recommend asking yourself this question: under what conditions will my tests fa

[2018-01-16 04:21] #231 closed

[2018-01-16 04:21] mslipper commented on #231
I'm closing this issue because it's super old, but that doesn't mean the discussion is over. I'll still respond to any further comments.

[2018-01-16 04:43] mslipper commented on #246
Why not compose the `redux-actions` reducer? Something like this:

[code]

You could easily extract this into a helper method and use it across your app. I'm reticent to add support for regular expression matching since it introduces quite a bit of complexity. What happens when both a regex and string key match? How do we store references to the passed-in regexes, since JS objects can only support

[2018-01-16 04:45] mslipper commented on #183
See #151 - I'm working on this. Let's continue the discussion there.

[2018-01-16 04:45] #183 closed

[2018-01-16 04:48] mslipper commented on #197
@amit1911 thanks for doing the digging here. Are you still interested in implementing a PR that does error checking for cases like this, or shall I try my hand at it?

[2018-01-16 04:49] mslipper commented on #47
@yangmillstheory did you ever finish this?

[2018-01-16 04:51] mslipper commented on #228
Closing due to inactivity. Please reopen if you need any further assistance.

[2018-01-16 04:51] #228 closed

[2018-01-16 04:53] mslipper commented on #244
Hi @linusmartensson, I'm closing this due to inactivity. If you still need help, please reopen.

[2018-01-16 04:53] #244 closed

[2018-01-16 05:03] mslipper commented on #254
Doesn't delegating responsibility for the reducer's initial state to the `createStore` method make creating portable reducers harder? Rather than having the reducer define its own initial state, you're relying on the invocation of `createStore` to do it.

To your second point - mind helping me understand your aversion to creating reducer builder functions?

To your third point - is defining an ini

[2018-01-16 05:05] mslipper commented on #255
I'll have to look into this. Should be able to give you a more complete response this weekend.

[2018-01-16 10:06] timche commented on #251
If there is anything urgent, you can contact me via email. Thank you guys for taking over!

[2018-01-16 13:59] yangmillstheory commented on #47
No (take a look at the code).

[2018-01-16 13:59] yangmillstheory commented on #47
No (take a look at the code).

[2018-01-17 20:03] cinnamennen opened #266 "How to pass from createActions to combineActions"
If I have the following:
[code]
And I want to fire an event every time an event matching `DATA/*` is fired, how do I do that? I currently am doing something like
[code]
However this doesn't seem like highly maintainable code, as every time I add a new action, subaction or if I were to modify the subaction types (e.g. `SET` => `UPDATE`) I would have to modify the `combineActions` parameters. Is the

[2018-01-18 07:02] mslipper commented on #266
I think it'd make sense from an API standpoint to allow passing in the parent `data` action to `combineActions`. Do you have the bandwidth to make a PR for this, or shall I?

If you need this functionality urgently, you can create a helper method that recursively extracts all the actions returned from `createActions` and passes them to `combineActions`.

[2018-01-18 07:05] mslipper commented on #233
Hi @ElfenLiedGH,

I'm a bit confused as to what's going on here. Would you mind providing me with a minimal repro case so that I can help further?

[2018-01-18 07:08] mslipper commented on #47
👍 , just wanted to make sure that it wasn't sitting in a branch somewhere. I can take this.

[2018-01-18 15:02] cinnamennen commented on #266
I'm pretty loaded up right now, so won't have time to make this for a good while. If you're able to, then feel free to work on it.

[2018-01-18 22:25] dfernandez79 commented on #263
You can also use [lodash] `mapKeys` as a workaround when using objects for actions:

[code]

Identity actions will require a different treatment 🙁

Shameless plug, I use action type prefixes too when combining reducers, so I end creating my anti-redux boilerplate lib: https://github.com/dfernandez79/redux-heretic
It doesn't follow the ducks proposal, but it fits my limited needs.

[lodash]: https:

[2018-01-22 13:07] JamieDixon opened #267 "Allow object passed to handleActions to be a Map as well as Object"
Since the keys for `handleActions` can be either string (i.e. `"LOG_IN"`) or functions (the result of `createAction`), `handleActions` should allow the mapping object to be a `Map` since functions can't be the keys of plain objects.

[2018-01-22 13:08] JamieDixon commented on #267
Happy to send a PR with a change for this (cc @AndrewBestbier)

[2018-01-23 11:45] JamieDixon commented on #183
I've just been told about this issue and I think this PR https://github.com/reduxactions/redux-actions/pull/268 might help.

[2018-01-23 18:16] #267 closed

[2018-01-24 12:55] raythree commented on #263
I would really like to be able to write:
[code]
Such that it would just use the last part as the action creator name, and createPost.toString() would be 'my/app/CREATE_POST', which could be referenced in other reducers.

[2018-01-24 15:40] rqrqrqrq commented on #263
@raythree With this proposal it will be possible to write:
[code]
Is it works for you?

[2018-01-24 17:08] raythree commented on #263
Perfect. Thanks!

[2018-01-28 22:19] budaaaa commented on #251
@timche I would like to contribute also if thats possible!

[2018-01-29 01:01] hendrul commented on #251
Available to help!

2018-01-11 10:49 GMT-04:00 Tim Cheung <notifications@github.com>:

[2018-01-29 17:10] larkintuckerllc commented on #251
First, having written a fair amount of Redux code, I added redux-actions to my projects quite awhile ago (not a fundamental game changer, but more of an incremental benefit).  I have been "preaching" it's use in my development circles and continue to believe that it adds value; have a vested interest in ensuring it (or something like it) continues to exist.

What I believe that I can bring to the

[2018-01-30 09:46] timche commented on #251
@mslipper ⬆️

[2018-01-30 22:02] mslipper commented on #251
@larkintuckerllc awesome! Can you own the documentation side of the project? I'm not sure how up-to-date the existing docs are. If you could review them and update them as necessary, I'd really appreciate it.

[2018-01-31 13:43] larkintuckerllc commented on #251
@mslipper Yes. I will start a review of the existing documentation this week and give feedback. Will want to know how you want to share information on this focused topic (assume not here; maybe in a issue?).

[2018-01-31 17:56] Rmannn commented on #255
Any news on this ?

[2018-01-31 19:00] mslipper commented on #251
An issue would be great.

[2018-02-05 03:08] nereuseng opened #270 "dispatch function show 'XXX is not a function'"
I set a action creator like this:
<code>const {
    startGetForecast,
    endGetForecast,
    .....
} = createActions(
    'START_GET_FORECAST',
    'END_GET_FORECAST',
    ......
)
</code>

in my reducer

<code>
export const forecast = handleActions({
    [combineActions('START_GET_FORECAST', 'END_GET_FORECAST', ....')](state, action) {
        return { ...state, ...action.payload }
    }
}, getI

[2018-02-05 18:11] larkintuckerllc opened #271 "Documentation Needs Updating"
This is a issue for discussing a current push towards updating the documentation.

[2018-02-05 18:16] larkintuckerllc commented on #271
Have done a fairly complete review of the documentation (actually learned a lot), the biggest area for improvement that I see is in the _Motivation_ and _Tutorial_ sections, e.g., the approach on handling errors is pretty amazing and not apparent from these sections.  As part of the review, I spent time writing a separate series of articles on Medium that captures a lot of what I believe would be

[2018-02-07 04:38] mslipper commented on #271
This is awesome! Would love to incorporate these posts into the Motivation/Tutorial sections.

[2018-02-07 04:41] mslipper commented on #270
`createActions` expects a `LOUD_SNAKE_CASE` string. If you prefix it with `@FORECAST/`, the emitted action name will be forecastStartGetForecast.

[2018-02-07 04:44] mslipper commented on #254
Closing this since it's super old now - please reopen if you'd like to discuss more.

[2018-02-07 04:44] #254 closed

[2018-02-07 05:31] nereuseng commented on #270
Now I get it. Do you know any alternative ways to implement actions with prefix?

[2018-02-10 17:20] larkintuckerllc commented on #271
Before I started to propose to make changes to the documentation, I sat down and documented how the documentation was organized (that is a mouthful).  Was sufficiently interesting, that I wrote yet another Medium article on it:

https://medium.com/@johntucker_48673/open-source-documentation-by-example-8599c81d4ab7

[2018-02-10 17:21] larkintuckerllc commented on #271
BTW... Through the documentation, it seems that the files in the _docs_ folder have been updated but the generated web site was not re-generated.  This seems to be the first order of business (either manual or with Travis CI).

[2018-02-15 17:24] GazzaHazza opened #272 "Testing handleActions"

[2018-02-15 22:25] dashed commented on #151
@mslipper I'm curious if you were able to make any progress since your last update.

[2018-02-16 04:02] wuweiweiwu commented on #251
@timche Is it too late to join? I was planning to start picking up some issues :)

[2018-02-16 21:43] mslipper commented on #151
I haven't just yet, no - been completely slammed at my day job. If you're interested in taking over development, please do! Otherwise I'll get to this as soon as I can.

[2018-02-21 20:41] osmangoninahid commented on #251
Interested

[2018-02-22 13:33] victordidenko commented on #241
Is it going to be implemented?

[2018-02-23 06:42] mslipper commented on #263
This is merged. Will talk to @yangmillstheory about releasing it.

[2018-02-23 06:43] mslipper commented on #272
How specifically would you like to test it? `handleActions` just returns a reducer function, so you can test is the same way you'd test any other reducer.

[2018-02-23 10:24] char0n opened #273 "LICENSING issue"
Hi,

I'm big fan of this library, but recently come into environment where legal stuff and licensing is very much part of development process. I found out that one the dependencies that `redux-actions` is using is not properly licensed. The dependency in question is [reduce-reducers](https://github.com/acdlite/reduce-reducers). This dependency states that is licensed under MIT but doesn't have any

[2018-02-23 10:54] timche commented on #273
I reached out to @acdlite privately. Let's see if we can resolve this somehow, but unfortunately it's not possible on our side.

[2018-02-23 10:54] #273 closed

[2018-02-23 10:56] timche commented on #263
I'll take a look if I can add u as admin to the npm registry.

[2018-02-23 11:00] timche commented on #263
@mslipper I've added you as collaborator on npm. You should be able to publish too.

[2018-02-23 11:40] mslipper commented on #263
Perfect, thanks @timche!

[2018-02-26 13:13] timche commented on #273
We (`redux-utilities` organisation) now have access to the repository.

[2018-02-28 03:14] moersing commented on #61
@addnab  Thank you , This is good solution.

[2018-03-07 11:05] mslipper commented on #263
Merged and released.

[2018-03-07 11:05] #263 closed

[2018-03-22 02:24] dthree commented on #2
I don't know why async isn't even mentioned in the docs. Making at least one async call in any real web app seems unavoidable. Am I missing something? [Currently looking at this library](https://github.com/machadogj/redux-thunk-actions) to handle it.

[2018-03-27 17:04] thorakmedichi opened #277 "No way shown to have multiple dispatches"
I find that in a lot of our code we will call a single action creator that will dispatch to multiple reducers after a single API call.

I cant find anything in the documentation that supports that. It appears you can only dispatch to a single reducer type from a single action. Is this true or can someone point me to some documentation on that.

Google seems to think "redux-actions" is the same as

[2018-04-03 13:09] gitowiec opened #278 "Make combineActions take combined actions."
It would be nice if combineActions could take as a parameter earlier combined actions as in:

### First file

[code]

### Second file
[code]
Now one has to use explicitly `.toString()` as in

### Second file now
[code]

[2018-04-03 18:25] sanbornhilland commented on #194
Just ended up here because of some really confusing debugging as well. I agree this is unexpected behaviour and could be more clearly documented. Is there a way to opt out of this behaviour? If not, would you be willing consider adding an option for that?

[2018-04-03 18:28] sanbornhilland commented on #255
I think this is a duplicate of this ticket that was closed, working as designed #194 but I'm going to move my comment here instead because this ticket is still open.

[2018-04-13 04:46] tonypee commented on #244
@linusmartensson can you give a snippet of how to use that as middleware please

[2018-04-13 18:44] linusmartensson commented on #244
@tonypee I use it as-is in my codebase:
[code]

[2018-04-17 11:54] rdsedmundo opened #282 "How to properly use TypeScript with redux-actions?"
Hi.

I couldn't get my typings to work with `redux-actions`. Would be great to have a section in the documentation showing the usage.

It's always returning a failure of typings, I don't understand what else I need to do in order to make it work.

This "works":

[code]

The problem starts when I try to add types to my payload. None of below worked:

[code]

I'm having the same difficulties for usi

[2018-04-17 16:33] timche commented on #282
From where did you get the types? We don't have types (yet).

[2018-04-17 16:38] rdsedmundo commented on #282
https://www.npmjs.com/package/@types/redux-actions

I thought it was official. lol

[2018-04-17 16:41] rdsedmundo commented on #282
These definitions were written by Jack Hsu @jaysoo, Alex Gorbatchev @alexgorbatchev, Alec Hill @alechill. Any of you guys could help here? It sounds a good opportunity to make it official. 💯

[2018-04-17 16:54] timche commented on #282
Unfortunately I can't really help with this, but I'd be happy if we could have them here.

[2018-04-19 09:34] marcelkornblum opened #284 "createActions exports one action as undefined, not function"
`createActions` for 11 actions doesn't work as well as `createAction` x11.

I was using `createActions` to create 11 actions. One single action was breaking and was being exported as `undefined` rather than a function (causing a `setBOEmailSent is not a function` error). My actions code was as follows:

[code]

After trying out many different things (the failing action definition was essentially t

[2018-04-19 09:38] timche commented on #284
The key is `SET_BACKOFFICE_EMAIL_SENT` and you're destructuring it as `setBOEmailSent`. It should be `setBackofficeEmailSent`.

[2018-04-22 21:00] xaiki commented on #251
this seems to be solved, link to this issue should probably be removed from README ?

[2018-04-24 10:11] AuthorProxy opened #285 "Redux actions Imported / Exported as undefined"
Here is full description:
https://stackoverflow.com/questions/49996332/cannot-import-or-export-redux-actions

[2018-04-24 10:25] timche commented on #285
Can you post the complete files here please?

[2018-04-24 19:14] AuthorProxy commented on #285
[code]
gives as expected:
[code]

if i refer component to actions.js and reducers to full copy actions-copy.js everything is work, if they refer the same file, some magic hapenned..

[2018-04-24 19:28] AuthorProxy commented on #285
Not work event with this code:
[code]

[2018-04-25 08:16] Liqiankun opened #289 "pass param to action payload"
[code]
Can I pass that `(id) => {}` id to action?

[2018-04-25 09:07] timche commented on #285
I still need the complete files and not snippets to reproduce the issue.

[2018-04-25 09:10] timche commented on #289
Yes, also see here: https://redux-actions.js.org/api-reference/createaction-s#createaction-type-payloadcreator

[2018-04-25 09:10] #289 closed

[2018-04-25 09:38] timche commented on #277
Reducers are listening to the `type` property of the action object, so when dispatching an action, multiple reducers can react to that and that's not related to `redux-actions`, it's a basic of Redux itself.

[code]

[2018-04-25 09:38] #277 closed

[2018-04-25 09:40] timche commented on #271
This has been fixed, because the docs were based on a fork by a contributor. It's now in sync with `docs` on `master`.

[2018-04-25 09:41] #271 closed

[2018-04-25 09:43] timche commented on #243
Resolved.

[2018-04-25 09:43] #243 closed

[2018-04-26 15:05] thorakmedichi commented on #277
Sorry, missunderstanding the question. How do I do multiple dispatches from an action. So it dispatches multiple types.

[2018-04-26 15:07] timche commented on #277
You'll need something like redux-thunk: https://github.com/gaearon/redux-thunk

[2018-04-26 15:08] thorakmedichi commented on #277
Here is an example of what we currently do with redux / thunk... but we would like to start using redux-actions

``
export const pollForChatsAction = (page = 1, limit = CHAT_REQUEST_LIMIT, lastPoll) => {
    const ENDPOINT = `/agent/chats`;

    return (dispatch, getState) => {
        const state = getState();
        const agentId = state.agent.agentId;

        // If the lastPoll is not passed

[2018-04-26 16:34] AuthorProxy commented on #285
yes, looks like some webpack or configuration issue, I will make samples at weekends

[2018-04-29 07:41] Liqiankun commented on #289
It goes
[code]

[2018-04-29 14:34] dannysood commented on #282
Just a beginner with typescript but would love to see them integrated. typescript seems pretty powerful.

[2018-04-30 10:13] Vandell63 commented on #282
Hey there same issue for me. For now i use this technique that seams to be ok :
Remove first the @types/redux-actions ( unfortunatly );

[code]
you keep your strong type...

[2018-05-03 16:17] tquetano-r7 opened #292 "2.3.1 release appears to have lodash-es issue"
I'm getting the following error on compilation:

[code]
And this started exactly when `2.3.1` was released.

[2018-05-03 16:36] timche commented on #292
Fix is incoming with #293.

[2018-05-03 16:37] foisonocean commented on #292
same problem for me

[2018-05-03 16:38] #292 closed

[2018-05-03 16:40] #285 closed

[2018-05-03 16:40] timche commented on #292
Fixed in version [`2.3.2`](https://github.com/redux-utilities/redux-actions/releases/tag/v2.3.2). Sorry for the inconvenience.

[2018-05-03 16:43] tquetano-r7 commented on #292
No worries! Appreciate you jumping on this so quickly.

[2018-05-03 16:52] timche commented on #292
Please let me know if it's really fixed for you.

[2018-05-03 16:59] foisonocean commented on #292
@timche It works for me in v2.3.2. thanks for your quick fixing.

[2018-05-05 17:45] karol-majewski commented on #282
The way I've used `handleActions` so far is by employing two type parameters:

1. The shape of your reducer. (Here: `Reducers.Marketplaces`.)
2. The union of all action payloads coming through your reducer. (Here: `string`.)

A real-life example might look like this:

[code]

The typings for `redux-actions` cause trouble sometimes.

1. When the reducer listens for more than one action (almost alwa

[2018-05-09 22:50] udalrich commented on #263
Is this documented anywhere other than this issue?

[2018-05-12 08:25] jake-daniels commented on #282
I agree with @karol-majewski here. We use `redux-actions` in production together with TypeScript. The redux store should be one of the key parts of the system with bulletproof types.  Could you, guys, take a look at it, adjust the types and make it work also with Redux 4?

[2018-05-15 22:32] #241 closed

[2018-05-18 17:56] slowselfip opened #298 "handle any action in handleActions"
Hello,

Is it possible to support the following use case?

[code]

Using handleActions reducerMap It seems I have to explicitly add any action type that I want to handle.

From the source:
[code]

I have a reducer created from handleActions, that currently handles notifications, but I also want to be able to handle any action that has the error property set to true without specifically adding the

[2018-05-25 19:51] ivadenis commented on #246
@mslipper this should be done in the `middleware` in my opinion.

[2018-05-29 12:02] freund17 commented on #263
I, too, was unable to find the documentation on this...
I expected it to be somewhere on this page: https://redux-actions.js.org/api-reference/createaction-s

[2018-06-06 16:50] jmzagorski opened #299 "Undefined State with unhandled action returns prior state value and not default state"
I know this will go against the "redux" way, but I was messing around with unit testing my selectors in my app and noticed something in your library:

If we look at the unit test [here](https://github.com/redux-utilities/redux-actions/blob/master/test/handleAction.test.js#L42):

[code]

and change the unit test so that we mutate state  and run the reducer again with an undefined state, our default

[2018-06-08 04:05] ajoshi0 opened #300 "can we please remove lodash-es dependency"
can we please remove lodash-es dependency is there any particular reason its there.
Its just increasing js bundle
<img width="749" alt="screen shot 2018-06-07 at 9 04 12 pm" src="https://user-images.githubusercontent.com/3833185/41138474-7645ba62-6a96-11e8-8b6c-bf35d1901b20.png">

[2018-06-08 10:13] timche commented on #300
It is being used in this library, so it's part of it.

[2018-06-08 19:07] ajoshi0 commented on #300
I checked the lib https://github.com/redux-utilities/redux-actions/search?q=lodash-es&unscoped_q=lodash-es

is there any particular reason to use lodash-es over lodash

[2018-06-08 23:49] hamaron commented on #255
I'm also the one who spent hours on this problem, and I found the very interesting discussion in #65 that decided not to call payload creator if the passed object is an instance of Error.

IMHO, it doesn't makes much sense to me to bypass payload creator for Error instances because an action creator should not have business logic inside it. I'd argue that we should create another action if you wan

[2018-06-11 16:34] sanbornhilland commented on #255
@hamaron a while ago I started writing a patch for this but ran into some trouble because the `catch` behaviour is dependent on the way errors are uniquely handled. It wasn't obvious to me how to maintain the current API in a non-kludgy way without breaking this feature. I think making this opt-in as you suggest would be the least disruptive approach. So I could get behind it. Still, not breaking

[2018-06-11 20:37] Ross-Esmond opened #301 "Add option for blanket namespace without requiring nested objects"
I'm using a [feature-based model](https://medium.com/@alexmngn/how-to-use-redux-on-highly-scalable-javascript-applications-4e4b8cb5ef38) for organizing code. The general idea is that you put Components, Actions, Thunks, Reducers, and Selectors related to one feature in its own folder together.

I'm also using Redux-Actions for a whole bunch of awesome features. The name-spacing, however, tends to

[2018-06-13 06:07] tonypee commented on #244
thanks!

[2018-07-06 17:16] Teomik129 opened #303 "combineActions should accept actionMap"
Let's say I use `createActions(actionMap)` to create my actions for a given component.
Example:
[code]

All of these actions will use the same reducer:
[code]

I would like to be able to use the following syntax so as to not reproduce the entire map in my reducer:
[code]

Obviously this doesn't work, as actionCreators is not a list of actions. The workaround I've implemented was to create my own `

[2018-07-10 16:49] svachalek commented on #245
I just found that the "Middleware" link in the documentation is broken and found this issue, is it related?

[2018-07-10 17:05] svachalek opened #304 "Should handleActions allow partial state initialization?"
My team has used this library on a couple of small projects and really loved it but now we have started using it on a bigger project and the issue is that the size of the `reducerMap` passed to `handleActions` can get to be unwieldy.

My first idea was to split the actions into separate files calling `handleActions` with categories of reducers and their related `defaultState`, and then use `reduce

[2018-07-14 17:16] newswim commented on #300
In a few instances it seems to be importing the same function from both `lodash` and `lodash-es`. I'm a little confused on the need for lodash-es as well.

[2018-07-17 09:09] timche commented on #300
I will revisit this issue asap and try to get rid of `lodash`.

[2018-07-25 09:34] yyynnn commented on #300
Definitely need to remove `lodash` or tree-shake unnecessary methods

[2018-07-25 14:13] timche commented on #300
https://github.com/redux-utilities/redux-actions/pull/307 is on the way removing `lodash` completely except `lodash.curry`.

[2018-07-25 14:23] timche commented on #300
Released in v2.5.0: https://github.com/redux-utilities/redux-actions/releases/tag/v2.5.0

[2018-07-25 14:23] #300 closed

[2018-07-25 17:34] nowells opened #308 "Recent `camelcase` package breaks in older browsers"
https://github.com/redux-utilities/redux-actions/commit/87ff772afc8518e0554cad1b715e95a0e548b308 introduced a bug as the new camelcase package ships with ES6 features and is not transpiled, so IE11 for example will choke because it has `const` and `let` (https://unpkg.com/camelcase@5.0.0/index.js) You should use a package that is already transpiled for ES5 compatibility.

You could use https://unp

[2018-07-25 17:38] timche commented on #308
Oh no, I was a little too quick with this one, sorry. Would u mind creating a PR using `lodash.camelCase` instead or sth similar?

[2018-07-25 17:38] nowells commented on #308
Sure thing. Give me 5.

[2018-07-25 18:39] scousino opened #310 "'camelcase' package breaks create-react-app builds"
I'm not sure if this is a duplicate of #308, but I figure I'll post it anyways. The most recent 'camelcase' package breaks the npm run build command for create-react-app and even regular webpack builds. I get the following error:
[code]

[2018-07-25 19:54] skolkmann opened #311 "undefined is not an object if no metaCreator is given"
I used 2.2.1 which worked like a charm, now upgraded to 2.5.0 and get:

undefined is not an object (evaluating 'metaCreator.apply')

Happens in both createAction(s):
const actionCreator = createAction('ACTION') // Error
const actionCreator = createAction('ACTION', undefined, undefined) // Error
const actionCreator = createAction('ACTION', undefined, null) // Works
const actionCreator = createActio

[2018-07-25 19:58] lukeguild-quovo commented on #310
This is more or less a duplicate of #308, yeah. The PR made there reverting to lodash's camelcase will resolve the issue.

[2018-07-25 21:12] michaelgillam-sd commented on #308
Getting the same error when trying to build our Docker image

[2018-07-25 21:21] #308 closed

[2018-07-25 21:56] mewdriller commented on #311
This error just started cropping up for us as well. Our `yarn.lock` had us at v2.4.0 before and v2.5.0 after. So it looks like it's v2.5.0+ that's the issue.

[2018-07-25 22:00] timche commented on #311
Thanks for confirming this.

For everyone having this issue please keep ur version locked to < v2.50, sorry.

I'll try to fix it asap, if someone is willing to help, feel free to let me know and open a PR.

[2018-07-25 23:49] timche commented on #311
So I couldn't to replicate this issue.

[code]

They all pass. What do I miss?

[2018-07-25 23:52] timche commented on #223
We have removed `lodash` in v2.5.0: https://github.com/redux-utilities/redux-actions/releases/tag/v2.5.0

[2018-07-25 23:52] #223 closed

[2018-07-26 00:50] timche commented on #311
I have released [v2.6.0](https://github.com/redux-utilities/redux-actions/releases/tag/v2.6.0) and [v2.6.1](https://github.com/redux-utilities/redux-actions/releases/tag/v2.6.1). Can you please check if the error is still there?

[2018-07-26 06:33] skolkmann commented on #311
Is working now in 2.6.1, thanks for your fast response!

Just as side notice, I am using this in react-native.

[2018-07-26 06:33] #311 closed

[2018-07-27 02:15] rhys-vdw commented on #223
@timche This issue has nothing to do with your consumption of lodash, but is a recommendation that you make the library compatible with `babel-plugin-lodash`.

[2018-07-30 15:21] rhys-vdw commented on #223
:-( can't really think of a way to explain this any more clearly

[2018-07-30 15:35] timche commented on #223
Sorry, I haven't read carefully as it was just confusing me to read `lodash` all the time. I got your point now.